:root {
  div {
    margin: 0;
  }

  #clint {
    position: absolute;
    width: 120vmin;
    height: 100vmin;
    background-color: #bbe;

    .hat {
      position: absolute;
      top: 10%;
      left: 50%;
      width: 72%;
      height: 34%;
      transform: translate(-50%, 0);

      .crown {
        position: absolute;
        left: 26%;
        width: 24%;
        height: 80%;
        background-color: #5f2740;
        border-top-left-radius: 80% 22%;

        + .crown {
          transform: scaleX(-1);
          background-color: #82434b;
          right: 26%;
          left: unset;

          &:before {
            background-color: #9f8e94;
          }
        }

        &:before {
          position: absolute;
          bottom: 0;
          width: 100%;
          height: 25%;
          content: "";
          background-color: #7f5f6a;
        }
      }

      .brim {
        position: absolute;
        bottom: 4%;
        left: 0;
        width: 50%;
        height: 25%;
        background-color: #5f2740;
        border-radius: 50% 0 0 50%;
        transform: skewY(7deg);

        + .brim {
          bottom: 2%;
          left: 50%;
          background-color: #82434b;
          border-radius: 0 120% 100% 0;
          transform: skewY(-5deg);

          .inside {
            top: 31%;
            left: 0;
            width: 58%;
            height: 46%;
            border-radius: 0 120% 100% 0;
          }
        }

        .inside {
          position: absolute;
          top: 40%;
          right: 0;
          width: 65%;
          height: 50%;
          background-color: #481e32;
          border-radius: 50% 0 0 50%;
        }
      }
    }

    .head {
      position: absolute;
      top: 38%;
      left: 50%;
      width: 40vmin;
      height: 42vmin;
      box-sizing: border-box;
      transform: translate(-50%, 0);
      background-color: rgba(200, 200, 200, 0.6);

      &:before,
      &:after {
        position: absolute;
        box-sizing: border-box;
        top: 0;
        width: 20vmin;
        height: 0;
        border-left: 19vmin solid transparent;
        border-top: 3vmin solid #5f2740;
        content: "";
        z-index: 100;
      }

      &:after {
        right: 0;
        border-top-color: #82434b;
        transform: scaleX(-1);
      }

      .beard {
        position: absolute;
        box-sizing: border-box;
        width: 20vmin;
        height: 0;
        border-top: 42vmin solid #9e4d32;
        border-left: 2vmin solid transparent;
        border-bottom-left-radius: 100% 50%;

        + .beard {
          right: 0;
          border-top-color: #b16653;
          transform: scaleX(-1);
        }
      }

      .skin {
        position: absolute;
        left: 3vmin;
        width: 17vmin;
        height: 18vmin;
        background-color: #e9a87e;

        &:before {
          position: absolute;
          bottom: -16vmin;
          box-sizing: border-box;
          width: 17vmin;
          height: 0;
          content: "";
          border-top: 16vmin solid #e9a87e;
          border-left: 10vmin solid transparent;
        }

        + .skin {
          right: 3vmin;
          left: unset;
          background-color: #ecc2a9;
          transform: scaleX(-1);

          &:before {
            border-top-color: #ecc2a9;
          }
        }
      }

      .moustache {
        position: absolute;
        bottom: 8vmin;
        left: 9vmin;
        box-sizing: border-box;
        width: 11vmin;
        margin-top: -2vmin;
        border-bottom: 12vmin solid #9e4d32;
        border-left: 2vmin solid transparent;

        &:before {
          position: absolute;
          top: -2vmin;
          box-sizing: border-box;
          width: 9vmin;
          margin-bottom: -2vmin;
          content: "";
          border-bottom: 2vmin solid #9e4d32;
          border-left: 3vmin solid transparent;
        }

        + .moustache {
          left: unset;
          right: 9vmin;
          transform: scaleX(-1);
          border-bottom-color: #b16653;

          &:before {
            border-bottom-color: #b16653;
          }
        }
      }

      .mouth {
        position: absolute;
        left: 13vmin;
        background-color: #e9a87e;
        width: 7vmin;
        height: 7vmin;
        bottom: 11vmin;
        border-bottom-left-radius: 50%;

        + .mouth {
          left: unset;
          right: 13vmin;
          transform: scaleX(-1);
          background-color: #ecc2a9;
        }
      }
    }
  }
}
