:root div {
  margin: 0;
}

:root #clint {
  position: absolute;
  width: 120vmin;
  height: 100vmin;
  background-color: #bbe;
}

:root #clint .hat {
  position: absolute;
  top: 10%;
  left: 50%;
  width: 72%;
  height: 34%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

:root #clint .hat .crown {
  position: absolute;
  left: 26%;
  width: 24%;
  height: 80%;
  background-color: #5f2740;
  border-top-left-radius: 80% 22%;
}

:root #clint .hat .crown + .crown {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
  background-color: #82434b;
  right: 26%;
  left: unset;
}

:root #clint .hat .crown + .crown:before {
  background-color: #9f8e94;
}

:root #clint .hat .crown:before {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 25%;
  content: "";
  background-color: #7f5f6a;
}

:root #clint .hat .brim {
  position: absolute;
  bottom: 4%;
  left: 0;
  width: 50%;
  height: 25%;
  background-color: #5f2740;
  border-radius: 50% 0 0 50%;
  -webkit-transform: skewY(7deg);
          transform: skewY(7deg);
}

:root #clint .hat .brim + .brim {
  bottom: 2%;
  left: 50%;
  background-color: #82434b;
  border-radius: 0 120% 100% 0;
  -webkit-transform: skewY(-5deg);
          transform: skewY(-5deg);
}

:root #clint .hat .brim + .brim .inside {
  left: 0;
  width: 58%;
  height: 46%;
  border-radius: 0 120% 100% 0;
}

:root #clint .hat .brim .inside {
  position: absolute;
  top: 36%;
  right: 0;
  width: 65%;
  height: 50%;
  background-color: #481e32;
  border-radius: 50% 0 0 50%;
}

:root #clint .face {
  position: absolute;
  top: 38%;
  left: 50%;
  width: 40vmin;
  height: 42vmin;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  background-color: rgba(200, 200, 200, 0.6);
}

:root #clint .face .beard {
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 20vmin;
  height: 0;
  border-top: 42vmin solid #9e4d32;
  border-left: 2vmin solid transparent;
  border-bottom-left-radius: 100% 50%;
}

:root #clint .face .beard + .beard {
  right: 0;
  border-top-color: #b16653;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

:root #clint .face .skin {
  position: absolute;
  left: 3vmin;
  width: 17vmin;
  height: 18vmin;
  background-color: #e9a87e;
}

:root #clint .face .skin:before {
  position: absolute;
  bottom: -16vmin;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 17vmin;
  height: 0;
  content: "";
  border-top: 16vmin solid #e9a87e;
  border-left: 10vmin solid transparent;
}

:root #clint .face .skin + .skin {
  right: 3vmin;
  left: unset;
  background-color: #ecc2a9;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

:root #clint .face .skin + .skin:before {
  border-top-color: #ecc2a9;
}

:root #clint .face .moustache {
  position: absolute;
  bottom: 8vmin;
  left: 9vmin;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 11vmin;
  margin-top: -2vmin;
  border-bottom: 12vmin solid #9e4d32;
  border-left: 2vmin solid transparent;
}

:root #clint .face .moustache:before {
  position: absolute;
  top: -2vmin;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 9vmin;
  margin-bottom: -2vmin;
  content: "";
  border-bottom: 2vmin solid #9e4d32;
  border-left: 3vmin solid transparent;
}

:root #clint .face .moustache + .moustache {
  left: unset;
  right: 9vmin;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
  border-bottom-color: #b16653;
}

:root #clint .face .moustache + .moustache:before {
  border-bottom-color: #b16653;
}

:root #clint .face .mouth {
  position: absolute;
  left: 13vmin;
  background-color: #e9a87e;
  width: 7vmin;
  height: 7vmin;
  bottom: 11vmin;
  border-bottom-left-radius: 50%;
}

:root #clint .face .mouth + .mouth {
  left: unset;
  right: 13vmin;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
  background-color: #ecc2a9;
}
/*# sourceMappingURL=styles.css.map */