$color-background: rgb(255, 233, 191);
$color-hat-dark: #5f2740;
$color-hat-light: #82434b;
$color-band-dark: #7f5f6a;
$color-band-light: #9f8e94;
$color-hat-inside: #481e32;
$color-beard-dark: #9e4d32;
$color-beard-light: #b16653;
$color-skin-dark: #e9a87e;
$color-skin-light: #ecc2a9;
$color-skin-light: #ecc2a9;
$color-mole-moustache: #6e3522;
$color-mole-skin: #b47c57;
$color-cigar: #4d2126;
$color-cigar-border: #eee;

:root {
  div {
    margin: 0;
  }

  #clint {
    position: absolute;
    width: 120vmin;
    height: 100vmin;
    background-color: $color-background;

    .hat {
      position: absolute;
      top: 10%;
      left: 50%;
      width: 72%;
      height: 34%;
      transform: translate(-50%, 0);

      .crown {
        position: absolute;
        left: 26%;
        width: 24%;
        height: 80%;
        background-color: $color-hat-dark;
        border-top-left-radius: 80% 22%;

        + .crown {
          transform: scaleX(-1);
          background-color: $color-hat-light;
          right: 26%;
          left: unset;

          &:before {
            background-color: $color-band-light;
          }
        }

        &:before {
          position: absolute;
          bottom: 0;
          width: 100%;
          height: 25%;
          content: "";
          background-color: $color-band-dark;
        }
      }

      .brim {
        position: absolute;
        bottom: 4%;
        left: 0;
        width: 50%;
        height: 25%;
        background-color: $color-hat-dark;
        border-radius: 50% 0 0 50%;
        transform: skewY(7deg);

        + .brim {
          bottom: 2%;
          left: 50%;
          background-color: $color-hat-light;
          border-radius: 0 120% 100% 0;
          transform: skewY(-5deg);

          .inside {
            top: 31%;
            left: 0;
            width: 58%;
            height: 46%;
            border-radius: 0 120% 100% 0;
          }
        }

        .inside {
          position: absolute;
          top: 40%;
          right: 0;
          width: 65%;
          height: 50%;
          background-color: $color-hat-inside;
          border-radius: 50% 0 0 50%;
        }
      }
    }

    .head {
      position: absolute;
      top: 38%;
      left: 50%;
      width: 40vmin;
      height: 42vmin;
      box-sizing: border-box;
      transform: translate(-50%, 0);

      &:before,
      &:after {
        position: absolute;
        box-sizing: border-box;
        top: 0;
        width: 20vmin;
        height: 0;
        border-left: 19vmin solid transparent;
        border-top: 3vmin solid $color-hat-dark;
        content: "";
        z-index: 100;
      }

      &:after {
        right: 0;
        border-top-color: $color-hat-light;
        transform: scaleX(-1);
      }

      .beard {
        position: absolute;
        box-sizing: border-box;
        width: 20vmin;
        height: 0;
        border-top: 42vmin solid $color-beard-dark;
        border-left: 2vmin solid transparent;
        border-bottom-left-radius: 100% 50%;

        + .beard {
          right: 0;
          border-top-color: $color-beard-light;
          transform: scaleX(-1);
        }
      }

      .skin {
        position: absolute;
        left: 3vmin;
        width: 17vmin;
        height: 18vmin;
        background-color: $color-skin-dark;

        &:before {
          position: absolute;
          bottom: -16vmin;
          box-sizing: border-box;
          width: 17vmin;
          height: 0;
          content: "";
          border-top: 16vmin solid $color-skin-dark;
          border-left: 10vmin solid transparent;
        }

        + .skin {
          right: 3vmin;
          left: unset;
          background-color: $color-skin-light;
          transform: scaleX(-1);

          &:before {
            border-top-color: $color-skin-light;
          }
        }
      }

      .moustache {
        position: absolute;
        bottom: 8vmin;
        left: 9vmin;
        box-sizing: border-box;
        width: 11vmin;
        margin-top: -2vmin;
        border-bottom: 12vmin solid $color-beard-dark;
        border-left: 2vmin solid transparent;

        &:before {
          position: absolute;
          top: -2vmin;
          box-sizing: border-box;
          width: 9vmin;
          margin-bottom: -2vmin;
          content: "";
          border-bottom: 2vmin solid $color-beard-dark;
          border-left: 3vmin solid transparent;
        }

        + .moustache {
          left: unset;
          right: 9vmin;
          transform: scaleX(-1);
          border-bottom-color: $color-beard-light;

          &:before {
            border-bottom-color: $color-beard-light;
          }
        }

        .mole {
          top: 1vmin;
          left: 2vmin;
          background-color: $color-mole-moustache;
        }
      }

      .mouth {
        position: absolute;
        bottom: 11vmin;
        left: 13vmin;
        width: 7vmin;
        height: 7vmin;
        overflow: hidden;
        background-color: $color-skin-dark;
        border-bottom-left-radius: 50%;

        + .mouth {
          left: unset;
          right: 13vmin;
          transform: scaleX(-1);
          background-color: $color-skin-light;
        }
      }

      .mole {
        position: absolute;
        top: -1vmin;
        left: 0vmin;
        width: 2vmin;
        height: 2vmin;
        background-color: $color-mole-skin;
        border-radius: 50%;
      }

      .cigar {
        position: absolute;
        right: 13vmin;
        bottom: 14vmin;
        box-sizing: border-box;
        width: 4vmin;
        height: 4vmin;
        background-color: $color-cigar;
        border: 0.5vmin solid $color-cigar-border;
        border-radius: 50%;
      }
    }
  }
}
