$animation-duration-ice-cream: 5s;
$color-bandanna: #e13d41;
$color-beard: #e85d3d;
$color-black: #000;
$color-black-10: rgba(0, 0, 0, .1);
$color-black-20: rgba(0, 0, 0, .2);
$color-black-30: rgba(0, 0, 0, .3);
$color-black-50: rgba(0, 0, 0, .5);
$color-blue: #6687ff;
$color-body-background: #e6fcdc;
$color-briefs: #e03c3b;
$color-hair: #e85d3e;
$color-hair-shadow: #a0402a;
$color-ice-cream-1: #826014;
$color-ice-cream-2: #f46285;
$color-ice-cream-3: #f445b1;
$color-ice-cream-cone: #ecb92c;
$color-red: #e23b3b;
$color-skin: #fcc8a3;
$color-skin-shadow: #eab692;
$color-white: #fff;
$color-white-20: rgba(255, 255, 255, .2);
$color-white-30: rgba(255, 255, 255, .3);
$color-white-50: rgba(255, 255, 255, .5);

@keyframes ice-cream-melt {
  0% {
    height: 2vmin;
  }
  79% {
    height: 8.6vmin;
  }
  80% {
    height: 5vmin;
  }
  100% {
    height: 2vmin;
  }
}

@keyframes ice-cream-drop {
  0% {
    top: 4vmin;
    opacity: 0;
    visibility: hidden;
  }
  75% {
    top: 4vmin;
  }
  79% {
    visibility: hidden;
    opacity: 0;
  }
  80% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    top: 31.5vmin;
  }
}

@keyframes ice-cream-drop-size {
  0% {
    visibility: hidden;
    height: 3vmin;
    border-width: .7vmin;
  }
  79% {
    opacity: 0;
  }
  80% {
    height: 3vmin;
    opacity: 1;
  }
  100% {
    height: 5vmin;
    opacity: 1;
    border-width: .7vmin;
  }
}

@keyframes drop-on-floor {
  0% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: $color-body-background;

  :after, :before {
    position: absolute;
    content: "";
  }
}

#axl {
  width: 80vmin;
  position: absolute;
  height: 80vmin;

  >.shadow {

    &--1 {
      position: absolute;
      bottom: 1vmin;
      left: 22.5vmin;
      width: 32vmin;
      height: 3vmin;
      border-radius: 50%;
      background-color: $color-black-50;
    }
  }

  .head {
    position: absolute;
    top: 0;
    left: 20vmin;
    width: 52vmin;
    height: 58vmin;

    .face {
      position: absolute;
      width: 30vmin;
      height: 28vmin;
      top: 15.5vmin;
      left: 7.5vmin;
      background-color: $color-skin;
      border: 1vmin solid $color-black;
      border-radius: 4.5vmin;

      .chin {
        position: absolute;
        left: 1.4vmin;
        bottom: -2vmin;
        width: 6.5vmin;
        box-sizing: border-box;
        height: 6vmin;
        border: 1vmin solid $color-black;
        background-color: $color-skin;
        border-radius: 1.5vmin;
        transform: rotate(-23deg);

        .circle {
          position: absolute;
          width: 1vmin;
          height: 1.5vmin;
          border-radius: 1vmin;
          background-color: $color-black;
          z-index: 1;

          &:nth-of-type(1) {
            left: -1vmin;
            bottom: 2vmin;
          }

          &:nth-of-type(2) {
            left: 4.5vmin;
            bottom: -.25vmin;
          }
        }

        &:before,
        &:after {
          background-color: $color-skin;
        }

        &:before {
          top: -2.5vmin;
          right: .6vmin;
          width: 5vmin;
          height: 4vmin;
        }

        &:after {
          top: -1.5vmin;
          left: 3.6vmin;
          width: 2vmin;
          height: 5vmin;
        }
      }

      .horseshoe {
        position: absolute;
        width: 7vmin;
        height: 3.4vmin;
        top: 22.4vmin;
        left: .8vmin;
        border-top: .8vmin solid $color-beard;
        border-left: .8vmin solid $color-beard;
        border-right: .8vmin solid $color-beard;
        box-sizing: border-box;
        border-radius: 1.5vmin 1.5vmin 0 0;

        &:before {
          width: .75vmin;
          height: .75vmin;
          border-radius: 50%;
          background-color: $color-beard;
          bottom: -.5vmin;
          left: -.8vmin;
        }

        &:after {
          width: .75vmin;
          height: .75vmin;
          border-radius: 50%;
          background-color: $color-beard;
          bottom: -.5vmin;
          right: -.8vmin;
        }
      }

      .mouth {
        position: absolute;
        width: 3.6vmin;
        height: 3.1vmin;
        background-color: $color-red;
        left: 2.5vmin;
        top: 23.7vmin;
        border-radius: .8vmin;
        transform: rotate(-23deg);
        overflow: hidden;

        .teeth {
          position: relative;
          width: 4vmin;
          height: 2vmin;
          background-color: $color-white;
          top: -1.1vmin;
          left: .2vmin;
          transform: rotate(18deg);
        }
      }

      .nose {
        position: absolute;
        top: 18.2vmin;
        left: 1.1vmin;
        width: 1.6vmin;
        height: 1.3vmin;
        transform: rotate(-22deg);
        border-radius: 2vmin 0 0 5vmin;
        border-top: .9vmin solid $color-black;
        border-bottom: .9vmin solid $color-black;
        border-left: .9vmin solid $color-black;
      }

      .shadow {
        position: absolute;

        &--1 {
          top: 12.2vmin;
          right: 9.1vmin;
          width: 4.9vmin;
          height: 31.6vmin;
          background-color: $color-black-30;
          border-bottom-right-radius: 2.5vmin;
        }
      }
    }

    .hair-left {
      position: absolute;
      left: 6vmin;
      bottom: 2vmin;
      width: 7vmin;
      height: 40vmin;
      box-sizing: border-box;
      background-color: $color-hair;
      border: 1vmin solid $color-black;

      .shadow {
        position: absolute;

        &--1 {
          left: .7vmin;
          bottom: -.1vmin;
          width: .6vmin;
          height: 6.1vmin;
          background-color: $color-black-30;
        }

        &--2 {
          right: -.1vmin;
          bottom: -.1vmin;
          width: 2.2vmin;
          height: 40vmin;
          background-color: $color-hair-shadow;

          &:before{
            right: .9vmin;
            top: 27vmin;
            width: 2.5vmin;
            height: 5.5vmin;
            transform: rotate(-35deg);
            background-color: $color-hair-shadow;
          }

          &:after {
            left: -2.7vmin;
            top: 0;
            width: 2.5vmin;
            height: 28.1vmin;
            background-color: $color-hair-shadow;
          }
        }
      }
    }

    .hair-right {
      position: absolute;
      bottom: -.5vmin;
      right: 11vmin;
      width: 16vmin;
      height: 42vmin;
      box-sizing: border-box;
      background-color: $color-hair;
      border: 1vmin solid $color-black;

      .gleam {
        position: absolute;

        &--1 {
          bottom: 7.5vmin;
          left: 2vmin;
          width: 1vmin;
          height: 18.5vmin;
          background-color: $color-white-20;
        }

        &--2 {
          bottom: 12vmin;
          left: 7vmin;
          width: 1vmin;
          height: 4vmin;
          background-color: $color-white-20;
        }

        &--3 {
          bottom: 4.5vmin;
          right: 2vmin;
          width: 1vmin;
          height: 16vmin;
          background-color: $color-white-20;
        }
      }

      .shadow {
        position: absolute;

        &--1 {
          bottom: 16.5vmin;
          left: 3vmin;
          width: .8vmin;
          height: 7vmin;
          background-color: $color-black-30;
        }

        &--2 {
          bottom: 3.5vmin;
          left: 3vmin;
          width: 1vmin;
          height: 4vmin;
          background-color: $color-black;
        }

        &--3 {
          top: 12vmin;
          left: 7vmin;
          width: 1vmin;
          height: 6vmin;
          background-color: $color-black;
        }

        &--4 {
          bottom: 10.5vmin;
          right: 3.9vmin;
          width: .9vmin;
          height: 5.5vmin;
          background-color: $color-black;
        }

        &--5 {
          bottom: -.1vmin;
          right: 2.8vmin;
          width: .9vmin;
          height: 5.2vmin;
          background-color: $color-black;
        }

        &--6 {
          bottom: 12vmin;
          right: 1vmin;
          width: 1vmin;
          height: 5.2vmin;
          background-color: $color-black-30;
        }
      }
    }

    .bandanna {
      position: absolute;
      box-sizing: border-box;
      top: 15.5vmin;
      left: 5vmin;
      width: 36.7vmin;
      height: 12vmin;
      background-color: $color-bandanna;
      border: .75vmin solid $color-black;
      border-left: 1.1vmin solid $color-black;
      border-right: 1.1vmin solid $color-black;

      .stripe {
        position: absolute;
        width: .4vmin;
        height: 2.6vmin;
        background-color: $color-white;

        &--1 {
          top: 6.2vmin;
          left: 3.7vmin;
          transform: rotate(-12deg);
        }

        &--2 {
          top: 5.8vmin;
          left: 10.4vmin;
          transform: rotate(59deg);
        }

        &--3 {
          top: 7.3vmin;
          left: 18.9vmin;
          transform: rotate(-14deg);
        }

        &--4 {
          top: 7.3vmin;
          left: 27.2vmin;
          transform: rotate(60deg);
        }
      }

      .shadow {
        position: absolute;

        &--1 {
          width: 34vmin;
          height: 2vmin;
          background-color: $color-black-30;
          bottom: -2vmin;
        }
      }
    }

    .glasses {
      display: flex;
      position: absolute;
      top: 24.7vmin;
      left: .5vmin;
      justify-content: space-between;
      width: 24vmin;
      height: 12vmin;

      .glass {
        position: static;
        width: 11.8vmin;
        height: 11.8vmin;
        border-radius: 50%;
        border: .6vmin solid $color-black;
        box-sizing: border-box;
        background: linear-gradient(
          119deg,
          $color-white 40%,
          $color-black 40%,
          $color-black 59%,
          $color-white 59%,
          $color-white 74%,
          $color-black 74%
        );
      }
    }

    .cap {
      position: absolute;
      box-sizing: border-box;
      width: 37.5vmin;
      height: 15vmin;
      left: 5vmin;
      top: 7.3vmin;
      background-color: $color-black;
      transform: rotate(8deg);

      &:before {
        top: -4.9vmin;
        width: 0;
        position: 0;
        border-left: 16.5vmin solid transparent;
        border-right: 21vmin solid transparent;
        border-bottom: 5vmin solid $color-black;
      }

      .peak {
        position: absolute;
        right: -11.5vmin;
        bottom: -1vmin;
        width: 13vmin;
        height: 1.8vmin;
        background-color: $color-black;
        transform: rotate(9deg);
      }

      .strap {
        position: absolute;
        width: 8.5vmin;
        height: 2.8vmin;
        left: -3.8vmin;
        top: 10.8vmin;
        background-color: $color-black;
        transform: rotate(2deg);
        border-bottom-left-radius: 1.4vmin;
        border-top-left-radius: 1.4vmin;
        overflow: hidden;

        &:before {
          width: 3.6vmin;
          height: 5vmin;
          background: $color-white-30;
          transform: rotate(25deg);
          left: 2.9vmin;
          top: -1vmin;
        }
      }

      .button {
        position: absolute;
        width: 2.4vmin;
        height: 4.5vmin;
        background-color: $color-black;
        top: -9vmin;
        left: 16.3vmin;
        border-radius: 50%;
        transform: rotate(50deg);
      }

      .bandanna-detail {
        position: absolute;
        top: 9vmin;
        left: 7vmin;
        width: 6.7vmin;
        height: 1.9vmin;
        background-color: $color-bandanna;
        transform: rotate(3deg);
      }

      .gleam {
        position: absolute;

        &--1 {
          top: -.1vmin;
          left: 1.2vmin;
          width: 0;
          height: 0;
          border-top-left-radius: 50%;
          border-left: 1.9vmin solid $color-white-50;
          border-top: 3vmin solid $color-white-50;
          border-right: 1.9vmin solid transparent;
          border-bottom: 3vmin solid transparent;
          transform: skew(3deg);

          &:before {
            top: -3.1vmin;
            left: -1.7vmin;
            width: 3.5vmin;
            height: .8vmin;
            background-color: $color-black;
            transform: rotate(-18deg);
          }
        }
      }
    }
  }

  .torso {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: 44.5vmin;
    width: 18vmin;
    height: 14.5vmin;
    background-color: $color-skin;
    border: 1vmin solid $color-black;
    border-radius: 2.5vmin;

    .nipples {
      position: relative;
      display: flex;
      justify-content: space-between;
      left: 3.4vmin;
      top: 4.2vmin;
      width: 9.2vmin;
      height: 1.7vmin;

      .nipple {
        position: static;
        width: 1.7vmin;
        height: 100%;
        border-radius: 50%;
        background-color: $color-red;
      }
    }

    .belly {
      position: absolute;
      border-style: solid;
      box-sizing: border-box;
      border-width: .4vmin;
      border-radius: 50%;
      transform: rotate(5deg);
      border-color: $color-skin-shadow transparent transparent transparent ;
      top: 7.1vmin;
      left: 2.5vmin;
      width: 9.3vmin;
      height: 7vmin;
      background-color: $color-skin;
    }

    .gleam {
      position: absolute;

      &--1 {
        bottom: .4vmin;
        left: .9vmin;
        width: 0;
        height: 0;
        border-bottom-left-radius: 30%;
        border-left: 2.3vmin solid $color-white-30;
        border-right: 2.3vmin solid transparent;
        border-bottom: 1.3vmin solid $color-white-30;
        border-top: 1.3vmin solid transparent;
      }
    }
  }

  .briefs {
    position: absolute;
    display: flex;
    justify-content: space-between;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 12.5vmin;
    width: 21vmin;
    height: 8.5vmin;

    &__leg {
      position: relative;
      border-radius: 1.5vmin 0 0 1.5vmin;
      border-color: $color-black;
      border-style: solid;
      box-sizing: border-box;
      border-width: 1vmin 0 1vmin 1vmin;
      background-color: $color-briefs;
      width: 9.9vmin;
      height: 8.5vmin;

      &:nth-child(1) {
        &:before {
          width: 2vmin;
          height: 1vmin;
          background-color: $color-briefs;
          border-width: 0 1vmin 0 0;
          bottom: -.1vmin;
          right: 0;
          border-color: $color-black;
          border-style: solid;
          box-sizing: border-box;
        }

        &:after {
          width: 3vmin;
          height: 3vmin;
          right: -2vmin;
          background-color: $color-briefs;
        }
      }

      &:nth-child(2) {
        border-radius: 0 1.5vmin 1.5vmin 0;
        border-width: 1vmin 1vmin 1vmin 0;

        &:before {
          width: 2vmin;
          height: 1vmin;
          background-color: $color-briefs;
          border-width: 0 0 0 1vmin;
          bottom: -.1vmin;
          border-color: $color-black;
          border-style: solid;
          box-sizing: border-box;
        }
      }
    }

    .frontispiece {
      position: absolute;
      border-color: $color-black;
      border-style: solid;
      box-sizing: border-box;
      border-width: 0 0 1vmin 1vmin;
      border-top-left-radius: .5vmin 1vmin;
      border-bottom-left-radius: 2.5vmin 3vmin;
      transform: rotate(10deg);
      top: 3.2vmin;
      left: 7.8vmin;
      width: 3.5vmin;
      height: 4vmin;
      background-color: $color-briefs;

      &:before {
        background-color: $color-black;
        border-radius: 50%;
        width: .9vmin;
        height: 1vmin;
        left: -.9vmin;
        top: -.2vmin;
      }
    }

    .gleam {
      position: absolute;

      &--1 {
        top: 4.2vmin;
        left: 9.2vmin;
        width: 0;
        height: 0;
        border-bottom-left-radius: 50%;
        border-left: .5vmin solid $color-white-50;
        border-right: .5vmin solid transparent;
        border-bottom: .9vmin solid $color-white-50;
        border-top: .9vmin solid transparent;
        transform: skew(10deg) rotate(5deg);

        &:before {
          width: .8vmin;
          height: 2.2vmin;
          top: -1.1vmin;
          left: -.1vmin;
          background-color: $color-briefs;
          transform: rotate(-32deg);
        }
      }

      &--2 {
        bottom: .9vmin;
        left: 1.4vmin;
        width: .9vmin;
        height: 4.9vmin;
        background-color: $color-white-50;
      }
    }

    .shadow {
      position: absolute;

      &--1 {
        right: 1.4vmin;
        bottom: 1.4vmin;
        width: .9vmin;
        height: 5vmin;
        background-color: $color-black-20;
      }
    }
  }

  .legs {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 19.5vmin;
    height: 4vmin;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10vmin;

    .leg {
      position: static;
      width: 9.6vmin;
      height: 100%;
      border-color: $color-black;
      border-style: solid;
      border-width: 0 1vmin;
      box-sizing: border-box;
      background-color: $color-skin;
    }
  }

  .shoes {
    position: absolute;
    display: flex;
    left: 38.5vmin;
    transform: translateX(-50%);
    width: 25vmin;
    height: 4.9vmin;
    bottom: 2.4vmin;

    .shoe {
      position: relative;
      width: 50%;
      height: 100%;
      background-color: $color-black;
      border-radius: 1vmin;
      border-color: $color-black;
      border-style: solid;
      border-width: .5vmin;
      box-sizing: border-box;

      .gleam {
        position: absolute;

        &--1 {
          top: 0;
          left: .1vmin;
          width: 0;
          height: 0;
          border-top-left-radius: 50%;
          overflow: hidden;
          border-left: .8vmin solid $color-white;
          border-top: .8vmin solid $color-white;
          border-right: .8vmin solid transparent;
          border-bottom: .8vmin solid transparent;
        }
      }
    }
  }

  .socks {
    position: absolute;
    display: flex;
    justify-content: space-between;
    left: 50%;
    transform: translateX(-50%);
    width: 21.2vmin;
    height: 4.5vmin;
    bottom: 6.5vmin;

    .sock {
      position: relative;
      width: 12.5vmin;
      height: 4.3vmin;
      background-color: $color-white;
      border-radius: 1.3vmin;
      border-color: $color-black;
      border-style: solid;
      border-width: .9vmin;
      box-sizing: border-box;

      .shadow {
        position: absolute;

        &--1 {
          bottom: 0;
          width: 100%;
          height: 1vmin;
          background-color: $color-black-10;
        }
      }

      &:nth-child(1) {

        .shadow {

          &--2 {
            bottom: .9vmin;
            left: -.1vmin;
            width: 3.2vmin;
            height: 1vmin;
            border-radius: 0  .5vmin .5vmin 0;
            background-color: $color-black;
          }

          &--3 {
            bottom: .9vmin;
            right: 1.3vmin;
            width: 2.1vmin;
            height: 1vmin;
            border-radius: .5vmin;
            background-color: $color-black;
          }
        }
      }

      &:nth-child(2) {

        .shadow {

          &--2 {
            bottom: .9vmin;
            right: -.2vmin;
            width: 3vmin;
            height: 1vmin;
            border-radius: .5vmin 0 0 .5vmin;
            background-color: $color-black;
          }
        }
      }
    }
  }

  .left-arm {
    display: flex;
    position: absolute;
    width: 21vmin;
    height: 9vmin;
    top: 43.5vmin;
    left: 7vmin;
    align-items: center;
    transform: rotate(10deg);

    .forearm {
      position: absolute;
      width: 9vmin;
      height: 6vmin;
      right: 0;
      box-sizing: border-box;
      border-color: $color-black;
      border-style: solid;
      border-width: .7vmin;
      background-color: $color-skin;

      .shadow {
        position: absolute;

        &--1 {
          bottom: 0;
          width: 100%;
          height: 2vmin;
          background-color: $color-black-30;
        }
      }

      .gleam {
        position: absolute;

        &--1 {
          top: 0;
          width: 100%;
          height: .8vmin;
          background-color: $color-white-30;
        }
      }
    }

    .sweatband {
      position: absolute;
      width: 4.5vmin;
      height: 8vmin;
      right: 7.5vmin;
      box-sizing: border-box;
      border-color: $color-black;
      border-style: solid;
      border-width: 1vmin;
      border-radius: 1vmin;
      background-color: $color-blue;

      &:before {
        width: 1vmin;
        height: 6.3vmin;
        left: .8vmin;
        top: 0;
        background-color: $color-white;
      }
    }

    .hand {
      position: absolute;
      width: 7vmin;
      height: 7vmin;
      right: 10vmin;
      border-radius: 50%;
      background-color: $color-skin;
      box-sizing: border-box;
      border-color: $color-black;
      border-style: solid;
      border-width: 1vmin;

      .index {
        position: absolute;
        width: 5.5vmin;
        height: 2.5vmin;
        left: -3vmin;
        top: -1.5vmin;
        border-radius: 1.5vmin;
        background-color: $color-skin;
        box-sizing: border-box;
        border-color: $color-black;
        border-style: solid;
        border-width: 1vmin;
        transform: rotate(20deg);
      }

      .pinky {
        position: absolute;
        width: 5vmin;
        height: 2.5vmin;
        left: -3.2vmin;
        top: 3.3vmin;
        border-radius: 1.5vmin;
        background-color: $color-skin;
        box-sizing: border-box;
        border-color: $color-black;
        border-style: solid;
        border-width: 1vmin;
        transform: rotate(-25deg);

        &:before {
          width: 1.5vmin;
          height: 1.5vmin;
          background-color: $color-skin;
          border-radius: .5vmin;
          right: -1.2vmin;
          top: -1.1vmin;
        }

        &:after {
          width: 1.4vmin;
          height: 1.4vmin;
          background-color: $color-skin;
          border-radius: .5vmin;
          right: -1.4vmin;
          bottom: -.8vmin;
        }
      }

      .thumb {
        position: absolute;
        width: 4.2vmin;
        height: 2.5vmin;
        top: -.7vmin;
        border-radius: 1.5vmin;
        background-color: $color-skin;
        box-sizing: border-box;
        border-color: $color-black;
        border-style: solid;
        border-width: 1vmin;
        transform: rotate(105deg);
      }

      .shadow {
        position: absolute;

        &--1 {
          width: 3vmin;
          height: 4vmin;
          box-shadow: -1.5vmin -.3vmin 0 0 $color-black-30;
          left: .8vmin;
          border-radius: 50%;
        }
      }
    }
  }

  .right-arm {
    display: flex;
    position: absolute;
    width: 23.5vmin;
    height: 17vmin;
    top: 35vmin;
    right: 1.2vmin;
    align-items: center;

    .forearm {
      position: absolute;
      width: 10vmin;
      height: 6vmin;
      bottom: 1vmin;
      box-sizing: border-box;
      border-color: $color-black;
      border-style: solid;
      border-width: .7vmin;
      background-color: $color-skin;

      .shadow {
        position: absolute;

        &--1 {
          bottom: -.1vmin;
          left: -.1vmin;
          width: 100%;
          height: .8vmin;
          background-color: $color-black-30;
        }
      }
    }

    .hand {
      position: absolute;
      width: 7vmin;
      height: 7.5vmin;
      left: 11.5vmin;
      bottom: .2vmin;
      border-radius: 50%;
      background-color: $color-skin;
      box-sizing: border-box;
      border-color: $color-black;
      border-style: solid;
      border-width: .9vmin;

      .shadow {
        position: absolute;

        &--1 {
          bottom: -.2vmin;
          right: -.3vmin;
          border-left: 4.5vmin solid transparent;
          border-right: 1.8vmin solid transparent;
          border-top: 2vmin solid transparent;
          border-bottom: 3.8vmin solid $color-black-30;
          border-bottom-right-radius: 1.5vmin;
          border-bottom-left-radius: 3vmin;
          transform: rotate(-20deg);
        }
      }

      .ice-cream {
        position: static;

        .cone {
          position: absolute;
          left: 2.8vmin;
          bottom: .1vmin;
          border-top: 8vmin solid $color-ice-cream-cone;
          border-right: 4.2vmin solid transparent;
          transform: rotate(16deg);

          .border-left {
            position: absolute;
            width: .7vmin;
            height: 10vmin;
            left: -.5vmin;
            bottom: .2vmin;
            border-radius: .4vmin;
            background-color: $color-black;
          }

          .border-right {
            position: absolute;
            width: .7vmin;
            height: 10vmin;
            left: 2.5vmin;
            bottom: -.4vmin;
            border-radius: .4vmin;
            transform: rotate(25deg);
            background-color: $color-black;

            &:before {
              bottom: -.6vmin;
              left: -.6vmin;
              width: 1vmin;
              height: 1vmin;
              border-radius: 1vmin;
              background-color: $color-black;
            }
          }
        }

        .cream-1 {
          position: absolute;
          left: 4.3vmin;
          top: -9.5vmin;
          width: 6vmin;
          height: 6vmin;
          border-radius: 3vmin;
          background-color: $color-ice-cream-1;
          box-sizing: border-box;
          border-color: $color-black;
          border-style: solid;
          border-width: .8vmin;

          .gleam {
            position: absolute;

            &--1 {
              top: .1vmin;
              left: .9vmin;
              width: 0;
              height: 0;
              border-top-left-radius: 50%;
              border-left: .8vmin solid $color-white-50;
              border-right: .8vmin solid transparent;
              border-top: .4vmin solid $color-white-50;
              border-bottom: .4vmin solid transparent;
              transform: rotate(3deg);
            }
          }
        }

        .cream-2 {
          position: absolute;
          left: 7.4vmin;
          top: -9.8vmin;
          width: 3.4vmin;
          height: 3.4vmin;
          border-radius: 1.75vmin;
          background-color: $color-ice-cream-2;
          box-sizing: border-box;
          border-color: $color-black;
          border-style: solid;
          border-width: .5vmin;

          .gleam {
            position: absolute;

            &--1 {
              top: .1vmin;
              left: .4vmin;
              width: 0;
              height: 0;
              border-top-left-radius: 50%;
              border-left: .6vmin solid $color-white-50;
              border-right: .6vmin solid transparent;
              border-top: .3vmin solid $color-white-50;
              border-bottom: .3vmin solid transparent;
              transform: rotate(10deg);
            }
          }
        }

        .cream-3 {
          position: absolute;
          left: 3.3vmin;
          top: -7.5vmin;
          width: 7.6vmin;
          height: 7.6vmin;
          border-radius: 3.5vmin;
          background-color: $color-ice-cream-3;
          box-sizing: border-box;
          border-color: $color-black;
          border-style: solid;
          border-width: .8vmin;

          .gleam {
            position: absolute;

            &--1 {
              top: 1vmin;
              left: .3vmin;
              width: 0;
              height: 0;
              border-top-left-radius: 50%;
              border-bottom-left-radius: 50%;
              border-left: .6vmin solid $color-white-50;
              border-right: .6vmin solid transparent;
              border-top: 1.8vmin solid $color-white-50;
              border-bottom: 1.8vmin solid transparent;
              transform: rotate(2deg);
            }
          }

          .shadow {
            position: absolute;

            &--1 {
              bottom: .1vmin;
              right: -.2vmin;
              width: 0;
              height: 0;
              border-left: 2.4vmin solid $color-black-20;
              border-right: .6vmin solid transparent;
              border-top: 3.4vmin solid $color-black-20;
              border-bottom: 0vmin solid transparent;
              border-bottom-right-radius: 50%;
            }
          }
        }

        .cream-4 {
          position: absolute;
          left: 6.2vmin;
          top: -2vmin;
          width: 2vmin;
          height: 8.6vmin;
          border-radius: 0 0 2.5vmin 2.5vmin;
          background-color: $color-ice-cream-3;
          box-sizing: border-box;
          border-color: $color-black;
          border-style: solid;
          border-width: .8vmin;
          border-top: .7vmin solid transparent;
          animation-iteration-count: infinite;
          animation-name: ice-cream-melt;
          animation-duration: $animation-duration-ice-cream;
          animation-timing-function: ease-out;

          &:before {
            background-color: $color-ice-cream-3;
            width: 1vmin;
            height: 1.6vmin;
            top: -1.3vmin;
            left: -.8vmin;
          }

          &:after {
            height: 0;
            width: 0;
            box-sizing: border-box;
            top: -3vmin;
            right: -.9vmin;
            border-left: 1vmin solid $color-ice-cream-3;
            border-right: .8vmin solid transparent;
            border-bottom: 2vmin solid $color-ice-cream-3;
            border-top: .8vmin solid transparent;
          }
        }

        .cream-5 {
          position: absolute;
          left: 6.1vmin;
          top: -8.1vmin;
          width: 5vmin;
          height: 5vmin;
          border-radius: 2.5vmin;
          background-color: $color-ice-cream-3;
          box-sizing: border-box;
          border-color: $color-black;
          border-style: solid;
          border-width: .7vmin;
          border-bottom: .7vmin solid transparent;

          .gleam {
            position: absolute;

            &--1 {
              top: .6vmin;
              left: .4vmin;
              width: 1.5vmin;
              height: 1.5vmin;
              background-color: $color-white-50;
              border-radius: 50%;
              transform: rotate(2deg);
            }
          }
        }

        .drop {
          position: absolute;
          border-radius: 1vmin;
          left: 6.2vmin;
          width: 2vmin;
          border-color: $color-black;
          border-style: solid;
          border-width: .7vmin;
          background-color: $color-ice-cream-3;
          box-sizing: border-box;
          animation: ice-cream-drop $animation-duration-ice-cream ease-in infinite, ice-cream-drop-size $animation-duration-ice-cream ease-out infinite;
        }

        .floor {
          position: absolute;
          left: 5.2vmin;
          width: 4vmin;
          background-color: $color-body-background;
          height: 6vmin;
          top: 33vmin;
          border-radius: 2vmin 2vmin 0 0 / .5vmin .5vmin 0 0;
        }

        .drop-on-floor {
          position: absolute;
          opacity: 0;
          top: 32vmin;
          left: 5.2vmin;
          width: 4vmin;
          height: 1vmin;
          border-radius: 50%;
          background-color: $color-ice-cream-3;
          transform-origin: center center;
          animation: drop-on-floor $animation-duration-ice-cream linear infinite;
          animation-delay: $animation-duration-ice-cream;
        }
      }

      .thumb {
        position: absolute;
        left: .25vmin;
        top: -.25vmin;
        width: 4.4vmin;
        height: 3vmin;
        border-radius: 1.5vmin;
        background-color: $color-skin;
        box-sizing: border-box;
        border-color: $color-black;
        border-style: solid;
        border-width: 1vmin;
        transform: rotate(20deg);

        &:before {
          width: 1.3vmin;
          height: 4vmin;
          left: -.5vmin;
          top: -.5vmin;
          border-top-left-radius: 1vmin;
          background-color: $color-skin;
        }
      }
    }

    .sweatband {
      position: absolute;
      width: 4.5vmin;
      height: 8vmin;
      left: 9.2vmin;
      bottom: 0;
      box-sizing: border-box;
      border-color: $color-black;
      border-style: solid;
      border-width: 1vmin;
      border-radius: 1vmin;
      background-color: $color-red;

      &:before {
        width: 1vmin;
        height: 6.3vmin;
        left: .8vmin;
        top: 0;
        background-color: $color-white;
      }
    }
  }
}
