body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#axl {
  width: 80vmin;
  position: absolute;
  height: 80vmin;
  background: #ddd;

  .head {
    position: absolute;
    top: 0;
    left: 20vmin;
    width: 52vmin;
    height: 58vmin;

    .face {
      position: absolute;
      width: 30vmin;
      height: 28vmin;
      top: 16vmin;
      left: 7vmin;
      background-color: #fcc8a3;
      border: 1vmin solid #000;
      border-radius: 5vmin;

      .chin {
        position: absolute;
        left: 2vmin;
        bottom: -2vmin;
        width: 6.5vmin;
        box-sizing: border-box;
        height: 6vmin;
        border: 1vmin solid #000;
        background-color: #fcc8a3;
        border-radius: 1.5vmin;
        transform: rotate(-20deg);

        .circle {
          position: absolute;
          width: 1vmin;
          height: 1.5vmin;
          border-radius: 1vmin;
          background-color: #000;
          z-index: 1;

          &:nth-of-type(1) {
            left: -1vmin;
            bottom: 2vmin;
          }

          &:nth-of-type(2) {
            left: 4.5vmin;
            bottom: -0.25vmin;
          }
        }

        &:before,
        &:after {
          position: absolute;
          content: "";
          background-color: #fcc8a3;
        }

        &:before {
          top: -2.5vmin;
          right: 0.6vmin;
          width: 5vmin;
          height: 4vmin;
        }

        &:after {
          top: -1.5vmin;
          left: 3.6vmin;
          width: 2vmin;
          height: 5vmin;
        }
      }
    }

    .hair-left {
      position: absolute;
      left: 6vmin;
      bottom: 2vmin;
      width: 7vmin;
      height: 40vmin;
      box-sizing: border-box;
      background-color: #e85d3e;
      border: 1vmin solid #000;
    }

    .hair-right {
      position: absolute;
      bottom: 0;
      right: 11vmin;
      width: 16vmin;
      height: 42vmin;
      box-sizing: border-box;
      background-color: #e85d3e;
      border: 1vmin solid #000;
    }

    .bandanna {
      position: absolute;
      box-sizing: border-box;
      top: 15vmin;
      left: 5vmin;
      width: 36vmin;
      height: 12vmin;
      background-color: #e13d41;
      border: 0.75vmin solid #000;
    }

    .glasses {
      display: flex;
      position: absolute;
      top: 25vmin;
      left: 0;
      justify-content: space-between;
      width: 24.5vmin;
      height: 12vmin;

      .glass {
        width: 12vmin;
        height: 12vmin;
        border-radius: 50%;
        border: 0.8vmin solid #000;
        box-sizing: border-box;
        background: linear-gradient(
          117deg,
          rgba(255, 255, 255, 1) 36%,
          rgba(0, 0, 0, 1) 36%,
          rgba(0, 0, 0, 1) 59%,
          rgba(255, 255, 255, 1) 59%,
          rgba(255, 255, 255, 1) 74%,
          rgba(0, 0, 0, 1) 74%
        );
      }
    }

    .cap {
      position: absolute;
      box-sizing: border-box;
      width: 37vmin;
      height: 15vmin;
      left: 5vmin;
      top: 8vmin;
      background-color: #000;
      transform: rotate(8deg);

      &:before {
        position: absolute;
        top: -5vmin;
        content: "";
        height: 0;
        border-left: 16vmin solid transparent;
        border-bottom: 5vmin solid #000;
      }

      &:after {
        position: absolute;
        right: 0;
        top: -5vmin;
        content: "";
        height: 0;
        border-right: 21vmin solid transparent;
        border-bottom: 5vmin solid #000;
      }

      .peak {
        position: absolute;
        right: -11.5vmin;
        bottom: -0.5vmin;
        width: 13vmin;
        height: 1.8vmin;
        background-color: #000;
        transform: rotate(8deg);
      }
    }
  }

  .torso {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: 45vmin;
    width: 18vmin;
    height: 14vmin;
    background-color: #fcc8a3;
    border: 1vmin solid #000;
    border-radius: 2vmin;
  }

  .briefs {
    position: absolute;
    display: flex;
    justify-content: space-between;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 12.5vmin;
    width: 21vmin;
    height: 8.5vmin;

    .leg {
      position: relative;
      border-radius: 1.5vmin 0 0 1.5vmin;
      border-color: #000;
      border-style: solid;
      box-sizing: border-box;
      border-width: 1vmin 0 1vmin 1vmin;
      background-color: #e03c3b;
      width: 9.9vmin;
      height: 8.5vmin;

      &:nth-child(1) {
        &:before {
          content: "";
          position: absolute;
          width: 2vmin;
          height: 1vmin;
          background-color: #e03c3b;
          border-width: 0 1vmin 0 0;
          bottom: -0.1vmin;
          right: 0;
          border-color: #000;
          border-style: solid;
          box-sizing: border-box;
        }

        &:after {
          content: "";
          position: absolute;
          width: 3vmin;
          height: 3vmin;
          right: -2vmin;
          background-color: #e03c3b;
        }
      }

      &:nth-child(2) {
        border-radius: 0 1.5vmin 1.5vmin 0;
        border-width: 1vmin 1vmin 1vmin 0;

        &:before {
          content: "";
          position: absolute;
          width: 2vmin;
          height: 1vmin;
          background-color: #e03c3b;
          border-width: 0 0 0 1vmin;
          bottom: -0.1vmin;
          border-color: #000;
          border-style: solid;
          box-sizing: border-box;
        }
      }
    }

    .frontispiece {
      position: absolute;
      border-color: #000;
      border-style: solid;
      box-sizing: border-box;
      border-width: 0 0 1vmin 1vmin;
      border-top-left-radius: 0.5vmin 1vmin;
      border-bottom-left-radius: 2vmin 2.5vmin;
      transform: rotate(5deg);
      top: 3vmin;
      left: 8vmin;
      width: 3.5vmin;
      height: 4.5vmin;
      background-color: #e03c3b;

      &:before {
        content: "";
        position: absolute;
        background-color: #000;
        border-radius: 50%;
        width: 0.9vmin;
        height: 1vmin;
        left: -0.9vmin;
        top: -0.2vmin;
      }
    }
  }

  .legs {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 19.5vmin;
    height: 4vmin;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10vmin;

    .leg {
      width: 9.2vmin;
      height: 100%;
      border-color: #000;
      border-style: solid;
      border-width: 0 0.9vmin;
      box-sizing: border-box;
      background-color: #fcc8a3;
    }
  }

  .shoes {
    position: absolute;
    display: flex;
    left: 50%;
    transform: translateX(-50%);
    width: 27vmin;
    height: 4.5vmin;
    bottom: 3vmin;

    .shoe {
      width: 12vmin;
      height: 4.5vmin;
      background-color: #000;
      border-radius: 1vmin;
      border-color: #000;
      border-style: solid;
      border-width: 0.5vmin;
      box-sizing: border-box;
    }
  }

  .socks {
    position: absolute;
    display: flex;
    justify-content: space-between;
    left: 50%;
    transform: translateX(-50%);
    width: 21vmin;
    height: 4.5vmin;
    bottom: 7vmin;

    .sock {
      width: 12.5vmin;
      height: 4.5vmin;
      background-color: #fff;
      border-radius: 1vmin;
      border-color: #000;
      border-style: solid;
      border-width: 0.8vmin;
      box-sizing: border-box;
    }
  }

  .left-arm {
    display: flex;
    position: absolute;
    width: 21vmin;
    height: 9vmin;
    top: 43.5vmin;
    left: 7vmin;
    background-color: rgba(228, 56, 56, 0.506);
    align-items: center;
    transform: rotate(10deg);

    .forearm {
      position: absolute;
      width: 9vmin;
      height: 6vmin;
      right: 0;
      box-sizing: border-box;
      border-color: #000;
      border-style: solid;
      border-width: .7vmin;
      background-color: #fcc8a3;
    }

    .sweatband {
      position: absolute;
      width: 4.5vmin;
      height: 8vmin;
      right: 7.5vmin;
      box-sizing: border-box;
      border-color: #000;
      border-style: solid;
      border-width: 1vmin;
      border-radius: 1vmin;
      background-color: #6687ff;

      &:before {
        position: absolute;
        content: "";
        width: 1vmin;
        height: 6.3vmin;
        left: .8vmin;
        top: 0;
        background-color: #ffffff;
      }
    }

    .hand {
      position: absolute;
      width: 7vmin;
      height: 7vmin;
      right: 10vmin;
      border-radius: 50%;
      background-color: #fcc8a3;
      box-sizing: border-box;
      border-color: #000;
      border-style: solid;
      border-width: 1vmin;

      .thumb{
        position: absolute;
        width: 4.2vmin;
        height: 2.5vmin;
        top: -.7vmin;
        border-radius: 1.5vmin;
        background-color: #fcc8a3;
        box-sizing: border-box;
        border-color: #000;
        border-style: solid;
        border-width: 1vmin;
        transform: rotate(105deg);
      }

      .index {
        position: absolute;
        width: 5.5vmin;
        height: 2.5vmin;
        left: -3vmin;
        top: -1.5vmin;
        border-radius: 1.5vmin;
        background-color: #fcc8a3;
        box-sizing: border-box;
        border-color: #000;
        border-style: solid;
        border-width: 1vmin;
        transform: rotate(20deg);
      }

      .pinky {
        position: absolute;
        width: 5vmin;
        height: 2.5vmin;
        left: -3.2vmin;
        top: 3.3vmin;
        border-radius: 1.5vmin;
        background-color: #fcc8a3;
        box-sizing: border-box;
        border-color: #000;
        border-style: solid;
        border-width: 1vmin;
        transform: rotate(-25deg);

        &:before {
          content: "";
          position: absolute;
          width: 1.5vmin;
          height: 1.5vmin;
          background-color: #fcc8a3;
          border-radius: .5vmin;
          right: -1.2vmin;
          top: -1.1vmin;
        }

        &:after {
          content: "";
          position: absolute;
          width: 1.4vmin;
          height: 1.4vmin;
          background-color: #fcc8a3;
          border-radius: .5vmin;
          right: -1.4vmin;
          bottom: -.8vmin;
        }
      }
    }
  }

  .right-arm {
    display: flex;
    position: absolute;
    width: 23vmin;
    height: 17vmin;
    top: 35vmin;
    right: 1vmin;
    background-color: rgba(30, 40, 129, 0.506);
    align-items: center;

    .forearm {
      position: absolute;
      width: 10vmin;
      height: 6vmin;
      bottom: 1vmin;
      box-sizing: border-box;
      border-color: #000;
      border-style: solid;
      border-width: .7vmin;
      background-color: #fcc8a3;
    }

    .hand {
      position: absolute;
      width: 7vmin;
      height: 7vmin;
      left: 11vmin;
      bottom: .5vmin;
      border-radius: 50%;
      background-color: #fcc8a3;
      box-sizing: border-box;
      border-color: #000;
      border-style: solid;
      border-width: 1vmin;

      .ice-cream {

        .cone {
          position: absolute;
          left: 2.8vmin;
          bottom: .1vmin;
          border-top: 8vmin solid #fcc8a4;
          border-right: 4.2vmin solid transparent;
          transform: rotate(16deg);

        }

        .border-left {
          position: absolute;
          width: .7vmin;
          height: 10vmin;
          left: -.5vmin;
          bottom: .2vmin;
          border-radius: .4vmin;
          background-color: #000;
        }

        .border-right {
          position: absolute;
          width: .7vmin;
          height: 10vmin;
          left: 2.5vmin;
          bottom: -.4vmin;
          border-radius: .4vmin;
          transform: rotate(25deg);
          background-color: #000;

          &:before{
            position: absolute;
            bottom: -.6vmin;
            left: -.6vmin;
            content: "";
            width: 1vmin;
            height: 1vmin;
            border-radius: 1vmin;
            background-color: #000;
          }
        }

        .cream-1 {
          position: absolute;
          left: 4vmin;
          top: -10vmin;
          width: 6vmin;
          height: 6vmin;
          border-radius: 3vmin;
          background-color: #826014;
          box-sizing: border-box;
          border-color: #000;
          border-style: solid;
          border-width: .8vmin;
        }

        .cream-2 {
          position: absolute;
          left: 7vmin;
          top: -10.5vmin;
          width: 3.5vmin;
          height: 3.5vmin;
          border-radius: 1.75vmin;
          background-color: #f46285;
          box-sizing: border-box;
          border-color: #000;
          border-style: solid;
          border-width: .5vmin;
        }

        .cream-3 {
          position: absolute;
          left: 3vmin;
          top: -8vmin;
          width: 7.5vmin;
          height: 7.5vmin;
          border-radius: 3.5vmin;
          background-color: #f445b1;
          box-sizing: border-box;
          border-color: #000;
          border-style: solid;
          border-width: .8vmin;
        }

        .cream-4 {
          position: absolute;
          left: 6vmin;
          top: -8.7vmin;
          width: 5vmin;
          height: 5vmin;
          border-radius: 2.5vmin;
          background-color: #f445b1;
          box-sizing: border-box;
          border-color: #000;
          border-style: solid;
          border-width: .7vmin;
        }

        .cream-5 {
          position: absolute;
          left: 6vmin;
          top: -3vmin;
          width: 2vmin;
          height: 9vmin;
          border-radius: 2.5vmin;
          background-color: #f445b1;
          box-sizing: border-box;
          border-color: #000;
          border-style: solid;
          border-width: .8vmin;

          &:before {
            content: "";
            position: absolute;
            background-color: #f445b1;
            width: 1vmin;
            height: 1.6vmin;
            top: -.7vmin;
            left: -.8vmin;
            border-bottom-left-radius: .3vmin;
          }

          &:after {
            content: "";
            position: absolute;
            background-color: #f445b1;
            width: 1.5vmin;
            height: 1.2vmin;
            top: -1.1vmin;
            right: -.8vmin;
          }
        }
      }

      .thumb {
        position: absolute;
        left: .25vmin;
        top: -.25vmin;
        width: 4vmin;
        height: 3vmin;
        border-radius: 1.5vmin;
        background-color: #fcc8a3;
        box-sizing: border-box;
        border-color: #000;
        border-style: solid;
        border-width: 1vmin;
        transform: rotate(20deg);

        &:before {
          position: absolute;
          width: 1.3vmin;
          height: 4vmin;
          left: -.5vmin;
          top: -.5vmin;
          content: "";
          border-top-left-radius: 1vmin;
          background-color: #fcc8a3;
        }
      }
    }

    .sweatband {
      position: absolute;
      width: 4.5vmin;
      height: 8vmin;
      left: 8.5vmin;
      bottom: 0;
      box-sizing: border-box;
      border-color: #000;
      border-style: solid;
      border-width: 1vmin;
      border-radius: 1vmin;
      background-color: #e23b3b;

      &:before {
        position: absolute;
        content: "";
        width: 1vmin;
        height: 6.3vmin;
        left: .8vmin;
        top: 0;
        background-color: #ffffff;
      }
    }
  }
}
