body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#axl {
  width: 80vmin;
  position: absolute;
  height: 80vmin;
  background: #ddd;

  .head {
    position: absolute;
    top: 0;
    left: 20vmin;
    width: 52vmin;
    height: 58vmin;
    // background-color: rgba(81, 247, 169, 0.74);

    .face {
      position: absolute;
      width: 30vmin;
      height: 28vmin;
      top: 16vmin;
      left: 7vmin;
      background-color: #fcc8a3;
      border: 1vmin solid #000;
      border-radius: 5vmin;

      .glasses {
        display: flex;
        position: absolute;
        top: 8vmin;
        left: -8vmin;
        justify-content: space-between;
        width: 25vmin;
        height: 12vmin;

        .glass {
          width: 12vmin;
          height: 12vmin;
          border-radius: 50%;
          border: 0.8vmin solid #000;
          box-sizing: border-box;
          background: linear-gradient(
            117deg,
            rgba(255, 255, 255, 1) 36%,
            rgba(0, 0, 0, 1) 36%,
            rgba(0, 0, 0, 1) 59%,
            rgba(255, 255, 255, 1) 59%,
            rgba(255, 255, 255, 1) 74%,
            rgba(0, 0, 0, 1) 74%
          );
        }
      }

      .chin {
        position: absolute;
        left: 2vmin;
        bottom: -2vmin;
        width: 4vmin;
        height: 4vmin;
        border: 1vmin solid #000;
        background-color: #fcc8a3;
        border-radius: 1vmin;
        transform: rotate(-20deg);

        .circle {
          position: absolute;
          width: 1vmin;
          height: 2vmin;
          border-radius: 1vmin;
          background-color: #000;

          &:nth-of-type(1) {
            left: -1vmin;
          }

          &:nth-of-type(2) {
            right: -1vmin;
            bottom: 0;
          }
        }

        &:before {
          position: absolute;
          top: -3vmin;
          left: -1vmin;
          content: "";
          background-color: #fcc8a3;
          width: 8vmin;
          height: 5vmin;
          transform: rotate(25deg);
        }
      }
    }

    .hair {
      position: absolute;
      left: 6vmin;
      bottom: 2vmin;
      width: 7vmin;
      height: 40vmin;
      box-sizing: border-box;
      background-color: #e85d3e;
      border: 1vmin solid #000;
    }

    .hair-2 {
      position: absolute;
      bottom: 0;
      right: 11vmin;
      width: 16vmin;
      height: 42vmin;
      box-sizing: border-box;
      background-color: #e85d3e;
      border: 1vmin solid #000;
    }
  }

  .torso {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: 45vmin;
    width: 18vmin;
    height: 14vmin;
    background-color: #fcc8a3;
    border: 1vmin solid #000;
    border-radius: 2vmin;
  }
}
