body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#axl {
  width: 80vmin;
  position: absolute;
  height: 80vmin;
  background: #ddd;

  .head {
    position: absolute;
    top: 0;
    left: 20vmin;
    width: 52vmin;
    height: 58vmin;
    // background-color: rgba(81, 247, 169, 0.74);

    .face {
      position: absolute;
      width: 30vmin;
      height: 28vmin;
      top: 16vmin;
      left: 7vmin;
      background-color: #fcc8a3;
      border: 1vmin solid #000;
      border-radius: 5vmin;

      .chin {
        position: absolute;
        left: 2vmin;
        bottom: -2vmin;
        width: 6.5vmin;
        box-sizing: border-box;
        height: 6vmin;
        border: 1vmin solid #000;
        background-color: #fcc8a3;
        border-radius: 1.5vmin;
        transform: rotate(-20deg);

        .circle {
          position: absolute;
          width: 1vmin;
          height: 1.5vmin;
          border-radius: 1vmin;
          background-color: #000;
          // background-color: red;
          z-index: 1;

          &:nth-of-type(1) {
            left: -1vmin;
            bottom: 2vmin;
          }

          &:nth-of-type(2) {
            left: 4.5vmin;
            bottom: -0.25vmin;
          }
        }

        &:before,
        &:after {
          position: absolute;
          content: "";
          background-color: #fcc8a3;
          // background-color: red;
        }

        &:before {
          top: -2.5vmin;
          right: 0.6vmin;
          width: 5vmin;
          height: 4vmin;
        }

        &:after {
          top: -1.5vmin;
          left: 3.6vmin;
          width: 2vmin;
          height: 5vmin;
        }
      }
    }

    .hair {
      position: absolute;
      left: 6vmin;
      bottom: 2vmin;
      width: 7vmin;
      height: 40vmin;
      box-sizing: border-box;
      background-color: #e85d3e;
      border: 1vmin solid #000;
    }

    .hair-2 {
      position: absolute;
      bottom: 0;
      right: 11vmin;
      width: 16vmin;
      height: 42vmin;
      box-sizing: border-box;
      background-color: #e85d3e;
      border: 1vmin solid #000;
    }

    .bandanna {
      position: absolute;
      box-sizing: border-box;
      top: 15vmin;
      left: 5vmin;
      width: 36vmin;
      height: 12vmin;
      background-color: #e13d41;
      border: 0.75vmin solid #000;
    }

    .glasses {
      display: flex;
      position: absolute;
      top: 25vmin;
      left: 0;
      justify-content: space-between;
      width: 24.5vmin;
      height: 12vmin;

      .glass {
        width: 12vmin;
        height: 12vmin;
        border-radius: 50%;
        border: 0.8vmin solid #000;
        box-sizing: border-box;
        background: linear-gradient(
          117deg,
          rgba(255, 255, 255, 1) 36%,
          rgba(0, 0, 0, 1) 36%,
          rgba(0, 0, 0, 1) 59%,
          rgba(255, 255, 255, 1) 59%,
          rgba(255, 255, 255, 1) 74%,
          rgba(0, 0, 0, 1) 74%
        );
      }
    }

    .cap {
      position: absolute;
      box-sizing: border-box;
      width: 37vmin;
      height: 15vmin;
      left: 5vmin;
      top: 8vmin;
      background-color: #000;
      transform: rotate(8deg);

      &:before {
        position: absolute;
        top: -5vmin;
        content: "";
        height: 0;
        border-left: 16vmin solid transparent;
        border-bottom: 5vmin solid #000;
      }

      &:after {
        position: absolute;
        right: 0;
        top: -5vmin;
        content: "";
        height: 0;
        border-right: 21vmin solid transparent;
        border-bottom: 5vmin solid #000;
      }

      .peak {
        position: absolute;
        right: -11.5vmin;
        bottom: -0.5vmin;
        width: 13vmin;
        height: 1.8vmin;
        background-color: #000;
        transform: rotate(8deg);
      }
    }
  }

  .torso {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: 45vmin;
    width: 18vmin;
    height: 14vmin;
    background-color: #fcc8a3;
    border: 1vmin solid #000;
    border-radius: 2vmin;
  }

  .briefs {
    position: absolute;
    display: flex;
    justify-content: space-between;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 12.5vmin;
    width: 21vmin;
    height: 8.5vmin;

    .leg {
      position: relative;
      border-radius: 1.5vmin 0 0 1.5vmin;
      border-color: #000;
      border-style: solid;
      box-sizing: border-box;
      border-width: 1vmin 0 1vmin 1vmin;
      background-color: #e03c3b;
      width: 9.9vmin;
      height: 8.5vmin;

      &:nth-child(1) {
        &:before {
          content: "";
          position: absolute;
          width: 2vmin;
          height: 1vmin;
          background-color: #e03c3b;
          border-width: 0 1vmin 0 0;
          bottom: -0.1vmin;
          right: 0;
          border-color: #000;
          border-style: solid;
          box-sizing: border-box;
        }

        &:after {
          content: "";
          position: absolute;
          width: 3vmin;
          height: 3vmin;
          right: -2vmin;
          background-color: #e03c3b;
        }
      }

      &:nth-child(2) {
        border-radius: 0 1.5vmin 1.5vmin 0;
        border-width: 1vmin 1vmin 1vmin 0;

        &:before {
          content: "";
          position: absolute;
          width: 2vmin;
          height: 1vmin;
          background-color: #e03c3b;
          border-width: 0 0 0 1vmin;
          bottom: -0.1vmin;
          border-color: #000;
          border-style: solid;
          box-sizing: border-box;
        }
      }
    }

    .frontispiece {
      position: absolute;
      border-color: #000;
      border-style: solid;
      box-sizing: border-box;
      border-width: 0 0 1vmin 1vmin;
      border-top-left-radius: 0.5vmin 1vmin;
      border-bottom-left-radius: 2vmin 2.5vmin;
      transform: rotate(5deg);
      top: 3vmin;
      left: 8vmin;
      width: 3.5vmin;
      height: 4.5vmin;
      background-color: #e03c3b;

      &:before {
        content: "";
        position: absolute;
        background-color: #000;
        border-radius: 50%;
        width: 0.9vmin;
        height: 1vmin;
        left: -0.9vmin;
        top: -0.2vmin;
      }
    }
  }

  .legs {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 19.5vmin;
    height: 4vmin;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10vmin;

    .leg {
      width: 9.2vmin;
      height: 100%;
      border-color: #000;
      border-style: solid;
      border-width: 0 0.9vmin;
      box-sizing: border-box;
      background-color: #fcc8a3;
    }
  }

  .shoes {
    position: absolute;
    display: flex;
    left: 50%;
    transform: translateX(-50%);
    width: 27vmin;
    height: 4.5vmin;
    bottom: 3vmin;

    .shoe {
      width: 12vmin;
      height: 4.5vmin;
      background-color: #000;
      border-radius: 1vmin;
      border-color: #000;
      border-style: solid;
      border-width: 0.5vmin;
      box-sizing: border-box;
    }
  }
}
