@-webkit-keyframes ice-cream-melt {
  0% {
    height: 2vmin;
  }
  79% {
    height: 8.6vmin;
  }
  80% {
    height: 5vmin;
  }
  100% {
    height: 2vmin;
  }
}

@keyframes ice-cream-melt {
  0% {
    height: 2vmin;
  }
  79% {
    height: 8.6vmin;
  }
  80% {
    height: 5vmin;
  }
  100% {
    height: 2vmin;
  }
}

@-webkit-keyframes ice-cream-drop {
  0% {
    top: 4vmin;
    visibility: hidden;
    opacity: 0;
  }
  75% {
    top: 4vmin;
  }
  79% {
    visibility: hidden;
    opacity: 0;
  }
  80% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    top: 31.5vmin;
  }
}

@keyframes ice-cream-drop {
  0% {
    top: 4vmin;
    visibility: hidden;
    opacity: 0;
  }
  75% {
    top: 4vmin;
  }
  79% {
    visibility: hidden;
    opacity: 0;
  }
  80% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    top: 31.5vmin;
  }
}

@-webkit-keyframes ice-cream-drop-size {
  0% {
    height: 3vmin;
    visibility: hidden;
    border-width: .7vmin;
  }
  79% {
    opacity: 0;
  }
  80% {
    height: 3vmin;
    opacity: 1;
  }
  100% {
    height: 5vmin;
    border-width: .7vmin;
    opacity: 1;
  }
}

@keyframes ice-cream-drop-size {
  0% {
    height: 3vmin;
    visibility: hidden;
    border-width: .7vmin;
  }
  79% {
    opacity: 0;
  }
  80% {
    height: 3vmin;
    opacity: 1;
  }
  100% {
    height: 5vmin;
    border-width: .7vmin;
    opacity: 1;
  }
}

@-webkit-keyframes drop-on-floor {
  0% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes drop-on-floor {
  0% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  background-color: #e6fcdc;
}

body *, body :after, body :before {
  position: absolute;
}

body :after, body :before {
  content: "";
}

#axl {
  width: 80vmin;
  height: 80vmin;
}

#axl > .shadow--1 {
  bottom: 1vmin;
  left: 22.5vmin;
  width: 32vmin;
  height: 3vmin;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}

#axl .head {
  top: 0;
  left: 20vmin;
  width: 52vmin;
  height: 58vmin;
}

#axl .head .face {
  top: 15.5vmin;
  left: 7.5vmin;
  width: 30vmin;
  height: 28vmin;
  background-color: #fcc8a3;
  border: 1vmin solid #000;
  border-radius: 4.5vmin;
}

#axl .head .face .chin {
  bottom: -2vmin;
  left: 1.4vmin;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 6.5vmin;
  height: 6vmin;
  background-color: #fcc8a3;
  border: 1vmin solid #000;
  border-radius: 1.5vmin;
  -webkit-transform: rotate(-23deg);
          transform: rotate(-23deg);
}

#axl .head .face .chin .circle {
  z-index: 1;
  width: 1vmin;
  height: 1.5vmin;
  background-color: #000;
  border-radius: 1vmin;
}

#axl .head .face .chin .circle:nth-of-type(1) {
  bottom: 2vmin;
  left: -1vmin;
}

#axl .head .face .chin .circle:nth-of-type(2) {
  bottom: -.25vmin;
  left: 4.5vmin;
}

#axl .head .face .chin:before, #axl .head .face .chin:after {
  background-color: #fcc8a3;
}

#axl .head .face .chin:before {
  top: -2.5vmin;
  right: .6vmin;
  width: 5vmin;
  height: 4vmin;
}

#axl .head .face .chin:after {
  top: -1.5vmin;
  left: 3.6vmin;
  width: 2vmin;
  height: 5vmin;
}

#axl .head .face .horseshoe {
  top: 22.4vmin;
  left: .8vmin;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 7vmin;
  height: 3.4vmin;
  border-top: 0.8vmin solid #e85d3d;
  border-right: 0.8vmin solid #e85d3d;
  border-left: 0.8vmin solid #e85d3d;
  border-radius: 1.5vmin 1.5vmin 0 0;
}

#axl .head .face .horseshoe:before {
  bottom: -.5vmin;
  left: -.8vmin;
  width: .75vmin;
  height: .75vmin;
  background-color: #e85d3d;
  border-radius: 50%;
}

#axl .head .face .horseshoe:after {
  right: -.8vmin;
  bottom: -.5vmin;
  width: .75vmin;
  height: .75vmin;
  background-color: #e85d3d;
  border-radius: 50%;
}

#axl .head .face .mouth {
  top: 23.7vmin;
  left: 2.5vmin;
  width: 3.6vmin;
  height: 3.1vmin;
  overflow: hidden;
  background-color: #e23b3b;
  border-radius: .8vmin;
  -webkit-transform: rotate(-23deg);
          transform: rotate(-23deg);
}

#axl .head .face .mouth .teeth {
  position: relative;
  top: -1.1vmin;
  left: .2vmin;
  width: 4vmin;
  height: 2vmin;
  background-color: #fff;
  -webkit-transform: rotate(18deg);
          transform: rotate(18deg);
}

#axl .head .face .nose {
  top: 18.2vmin;
  left: 1.1vmin;
  width: 1.6vmin;
  height: 1.3vmin;
  border-top: 0.9vmin solid #000;
  border-bottom: 0.9vmin solid #000;
  border-left: 0.9vmin solid #000;
  border-radius: 2vmin 0 0 5vmin;
  -webkit-transform: rotate(-22deg);
          transform: rotate(-22deg);
}

#axl .head .face .shadow--1 {
  top: 12.2vmin;
  right: 9.1vmin;
  width: 4.9vmin;
  height: 31.6vmin;
  background-color: rgba(0, 0, 0, 0.3);
  border-bottom-right-radius: 2.5vmin;
}

#axl .head .hair-left {
  bottom: 2vmin;
  left: 6vmin;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 7vmin;
  height: 40vmin;
  background-color: #e85d3e;
  border: 1vmin solid #000;
}

#axl .head .hair-left .shadow--1 {
  bottom: -.1vmin;
  left: .7vmin;
  width: .6vmin;
  height: 6.1vmin;
  background-color: rgba(0, 0, 0, 0.3);
}

#axl .head .hair-left .shadow--2 {
  right: -.1vmin;
  bottom: -.1vmin;
  width: 2.2vmin;
  height: 40vmin;
  background-color: #a0402a;
}

#axl .head .hair-left .shadow--2:before {
  top: 27vmin;
  right: .9vmin;
  width: 2.5vmin;
  height: 5.5vmin;
  background-color: #a0402a;
  -webkit-transform: rotate(-35deg);
          transform: rotate(-35deg);
}

#axl .head .hair-left .shadow--2:after {
  top: 0;
  left: -2.7vmin;
  width: 2.5vmin;
  height: 28.1vmin;
  background-color: #a0402a;
}

#axl .head .hair-right {
  right: 11vmin;
  bottom: -.5vmin;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 16vmin;
  height: 42vmin;
  background-color: #e85d3e;
  border: 1vmin solid #000;
}

#axl .head .hair-right .gleam--1 {
  bottom: 7.5vmin;
  left: 2vmin;
  width: 1vmin;
  height: 18.5vmin;
  background-color: rgba(255, 255, 255, 0.2);
}

#axl .head .hair-right .gleam--2 {
  bottom: 12vmin;
  left: 7vmin;
  width: 1vmin;
  height: 4vmin;
  background-color: rgba(255, 255, 255, 0.2);
}

#axl .head .hair-right .gleam--3 {
  right: 2vmin;
  bottom: 4.5vmin;
  width: 1vmin;
  height: 16vmin;
  background-color: rgba(255, 255, 255, 0.2);
}

#axl .head .hair-right .shadow--1 {
  bottom: 16.5vmin;
  left: 3vmin;
  width: .8vmin;
  height: 7vmin;
  background-color: rgba(0, 0, 0, 0.3);
}

#axl .head .hair-right .shadow--2 {
  bottom: 3.5vmin;
  left: 3vmin;
  width: 1vmin;
  height: 4vmin;
  background-color: #000;
}

#axl .head .hair-right .shadow--3 {
  top: 12vmin;
  left: 7vmin;
  width: 1vmin;
  height: 6vmin;
  background-color: #000;
}

#axl .head .hair-right .shadow--4 {
  right: 3.9vmin;
  bottom: 10.5vmin;
  width: .9vmin;
  height: 5.5vmin;
  background-color: #000;
}

#axl .head .hair-right .shadow--5 {
  right: 2.8vmin;
  bottom: -.1vmin;
  width: .9vmin;
  height: 5.2vmin;
  background-color: #000;
}

#axl .head .hair-right .shadow--6 {
  right: 1vmin;
  bottom: 12vmin;
  width: 1vmin;
  height: 5.2vmin;
  background-color: rgba(0, 0, 0, 0.3);
}

#axl .head .bandanna {
  top: 15.5vmin;
  left: 5vmin;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 36.7vmin;
  height: 12vmin;
  background-color: #e13d41;
  border: 0.75vmin solid #000;
  border-right: 1.1vmin solid #000;
  border-left: 1.1vmin solid #000;
}

#axl .head .bandanna .stripe {
  width: .4vmin;
  height: 2.6vmin;
  background-color: #fff;
}

#axl .head .bandanna .stripe--1 {
  top: 6.2vmin;
  left: 3.7vmin;
  -webkit-transform: rotate(-12deg);
          transform: rotate(-12deg);
}

#axl .head .bandanna .stripe--2 {
  top: 5.8vmin;
  left: 10.4vmin;
  -webkit-transform: rotate(59deg);
          transform: rotate(59deg);
}

#axl .head .bandanna .stripe--3 {
  top: 7.3vmin;
  left: 18.9vmin;
  -webkit-transform: rotate(-14deg);
          transform: rotate(-14deg);
}

#axl .head .bandanna .stripe--4 {
  top: 7.3vmin;
  left: 27.2vmin;
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
}

#axl .head .bandanna .shadow--1 {
  width: 34vmin;
  height: 2vmin;
  background-color: rgba(0, 0, 0, 0.3);
  bottom: -2vmin;
}

#axl .head .glasses {
  top: 24.7vmin;
  left: .5vmin;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 24vmin;
  height: 12vmin;
}

#axl .head .glasses .glass {
  position: static;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 11.8vmin;
  height: 11.8vmin;
  background: linear-gradient(119deg, #fff 40%, #000 40%, #000 59%, #fff 59%, #fff 74%, #000 74%);
  border: 0.6vmin solid #000;
  border-radius: 50%;
}

#axl .head .cap {
  top: 7.3vmin;
  left: 5vmin;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 37.5vmin;
  height: 15vmin;
  background-color: #000;
  -webkit-transform: rotate(8deg);
          transform: rotate(8deg);
}

#axl .head .cap:before {
  top: -4.9vmin;
  border-right: 21vmin solid transparent;
  border-bottom: 5vmin solid #000;
  border-left: 16.5vmin solid transparent;
}

#axl .head .cap .peak {
  right: -11.5vmin;
  bottom: -1vmin;
  width: 13vmin;
  height: 1.8vmin;
  background-color: #000;
  -webkit-transform: rotate(9deg);
          transform: rotate(9deg);
}

#axl .head .cap .strap {
  top: 10.8vmin;
  left: -3.8vmin;
  width: 8.5vmin;
  height: 2.8vmin;
  overflow: hidden;
  background-color: #000;
  border-top-left-radius: 1.4vmin;
  border-bottom-left-radius: 1.4vmin;
  -webkit-transform: rotate(2deg);
          transform: rotate(2deg);
}

#axl .head .cap .strap:before {
  top: -1vmin;
  left: 2.9vmin;
  width: 3.6vmin;
  height: 5vmin;
  background: rgba(255, 255, 255, 0.3);
  -webkit-transform: rotate(25deg);
          transform: rotate(25deg);
}

#axl .head .cap .button {
  top: -9vmin;
  left: 16.3vmin;
  width: 2.4vmin;
  height: 4.5vmin;
  background-color: #000;
  border-radius: 50%;
  -webkit-transform: rotate(50deg);
          transform: rotate(50deg);
}

#axl .head .cap .bandanna-detail {
  top: 9vmin;
  left: 7vmin;
  width: 6.7vmin;
  height: 1.9vmin;
  background-color: #e13d41;
  -webkit-transform: rotate(3deg);
          transform: rotate(3deg);
}

#axl .head .cap .gleam--1 {
  top: -.1vmin;
  left: 1.2vmin;
  border-top: 3vmin solid rgba(255, 255, 255, 0.5);
  border-right: 1.9vmin solid transparent;
  border-bottom: 3vmin solid transparent;
  border-left: 1.9vmin solid rgba(255, 255, 255, 0.5);
  border-top-left-radius: 50%;
  -webkit-transform: skew(3deg);
          transform: skew(3deg);
}

#axl .head .cap .gleam--1:before {
  top: -3.1vmin;
  left: -1.7vmin;
  width: 3.5vmin;
  height: .8vmin;
  background-color: #000;
  -webkit-transform: rotate(-18deg);
          transform: rotate(-18deg);
}

#axl .torso {
  top: 44.5vmin;
  left: 50%;
  width: 18vmin;
  height: 14.5vmin;
  background-color: #fcc8a3;
  border: 1vmin solid #000;
  border-radius: 2.5vmin;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

#axl .torso .nipples {
  position: relative;
  top: 4.2vmin;
  left: 3.4vmin;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 9.2vmin;
  height: 1.7vmin;
}

#axl .torso .nipples .nipple {
  position: static;
  width: 1.7vmin;
  height: 100%;
  background-color: #e23b3b;
  border-radius: 50%;
}

#axl .torso .belly {
  top: 7.1vmin;
  left: 2.5vmin;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 9.3vmin;
  height: 7vmin;
  background-color: #fcc8a3;
  border-color: #eab692 transparent transparent transparent;
  border-style: solid;
  border-width: .4vmin;
  border-radius: 50%;
  -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
}

#axl .torso .gleam--1 {
  bottom: .4vmin;
  left: .9vmin;
  border-top: 1.3vmin solid transparent;
  border-right: 2.3vmin solid transparent;
  border-bottom: 1.3vmin solid rgba(255, 255, 255, 0.3);
  border-left: 2.3vmin solid rgba(255, 255, 255, 0.3);
  border-bottom-left-radius: 30%;
}

#axl .briefs {
  bottom: 12.5vmin;
  left: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 21vmin;
  height: 8.5vmin;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

#axl .briefs__leg {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 9.9vmin;
  height: 8.5vmin;
  background-color: #e03c3b;
  border-color: #000;
  border-style: solid;
  border-width: 1vmin 0 1vmin 1vmin;
  border-radius: 1.5vmin 0 0 1.5vmin;
}

#axl .briefs__leg:nth-child(1):before {
  right: 0;
  bottom: -.1vmin;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 2vmin;
  height: 1vmin;
  background-color: #e03c3b;
  border-color: #000;
  border-style: solid;
  border-width: 0 1vmin 0 0;
}

#axl .briefs__leg:nth-child(1):after {
  right: -2vmin;
  width: 3vmin;
  height: 3vmin;
  background-color: #e03c3b;
}

#axl .briefs__leg:nth-child(2) {
  border-radius: 0 1.5vmin 1.5vmin 0;
  border-width: 1vmin 1vmin 1vmin 0;
}

#axl .briefs__leg:nth-child(2):before {
  bottom: -.1vmin;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 2vmin;
  height: 1vmin;
  background-color: #e03c3b;
  border-color: #000;
  border-style: solid;
  border-width: 0 0 0 1vmin;
}

#axl .briefs .frontispiece {
  top: 3.2vmin;
  left: 7.8vmin;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 3.5vmin;
  height: 4vmin;
  background-color: #e03c3b;
  border-color: #000;
  border-style: solid;
  border-width: 0 0 1vmin 1vmin;
  border-top-left-radius: .5vmin 1vmin;
  border-bottom-left-radius: 2.5vmin 3vmin;
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
}

#axl .briefs .frontispiece:before {
  top: -.2vmin;
  left: -.9vmin;
  width: .9vmin;
  height: 1vmin;
  background-color: #000;
  border-radius: 50%;
}

#axl .briefs .gleam--1 {
  top: 4.2vmin;
  left: 9.2vmin;
  border-top: 0.9vmin solid transparent;
  border-right: 0.5vmin solid transparent;
  border-bottom: 0.9vmin solid rgba(255, 255, 255, 0.5);
  border-left: 0.5vmin solid rgba(255, 255, 255, 0.5);
  border-bottom-left-radius: 50%;
  -webkit-transform: skew(10deg) rotate(5deg);
          transform: skew(10deg) rotate(5deg);
}

#axl .briefs .gleam--1:before {
  top: -1.1vmin;
  left: -.1vmin;
  width: .8vmin;
  height: 2.2vmin;
  background-color: #e03c3b;
  -webkit-transform: rotate(-32deg);
          transform: rotate(-32deg);
}

#axl .briefs .gleam--2 {
  bottom: .9vmin;
  left: 1.4vmin;
  width: .9vmin;
  height: 4.9vmin;
  background-color: rgba(255, 255, 255, 0.5);
}

#axl .briefs .shadow--1 {
  bottom: 1.4vmin;
  right: 1.4vmin;
  width: .9vmin;
  height: 5vmin;
  background-color: rgba(0, 0, 0, 0.2);
}

#axl .legs {
  bottom: 10vmin;
  left: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 19.5vmin;
  height: 4vmin;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#axl .legs .leg {
  position: static;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 9.6vmin;
  height: 100%;
  background-color: #fcc8a3;
  border-color: #000;
  border-style: solid;
  border-width: 0 1vmin;
}

#axl .shoes {
  bottom: 2.4vmin;
  left: 38.5vmin;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 25vmin;
  height: 4.9vmin;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#axl .shoes .shoe {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 50%;
  height: 100%;
  background-color: #000;
  border-color: #000;
  border-style: solid;
  border-width: .5vmin;
  border-radius: 1vmin;
}

#axl .shoes .shoe .gleam--1 {
  top: 0;
  left: .1vmin;
  overflow: hidden;
  border-top: 0.8vmin solid #fff;
  border-right: 0.8vmin solid transparent;
  border-bottom: 0.8vmin solid transparent;
  border-left: 0.8vmin solid #fff;
  border-top-left-radius: 50%;
}

#axl .socks {
  bottom: 6.5vmin;
  left: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 21.2vmin;
  height: 4.5vmin;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#axl .socks .sock {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 12.5vmin;
  height: 4.3vmin;
  background-color: #fff;
  border-color: #000;
  border-style: solid;
  border-width: .9vmin;
  border-radius: 1.3vmin;
}

#axl .socks .sock .shadow--1 {
  bottom: 0;
  width: 100%;
  height: 1vmin;
  background-color: rgba(0, 0, 0, 0.1);
}

#axl .socks .sock:nth-child(1) .shadow--2 {
  bottom: .9vmin;
  left: -.1vmin;
  width: 3.2vmin;
  height: 1vmin;
  background-color: #000;
  border-radius: 0 .5vmin .5vmin 0;
}

#axl .socks .sock:nth-child(1) .shadow--3 {
  right: 1.3vmin;
  bottom: .9vmin;
  width: 2.1vmin;
  height: 1vmin;
  background-color: #000;
  border-radius: .5vmin;
}

#axl .socks .sock:nth-child(2) .shadow--2 {
  right: -.2vmin;
  bottom: .9vmin;
  width: 3vmin;
  height: 1vmin;
  background-color: #000;
  border-radius: .5vmin 0 0 .5vmin;
}

#axl .left-arm {
  top: 43.5vmin;
  left: 7vmin;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 21vmin;
  height: 9vmin;
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
}

#axl .left-arm .forearm {
  right: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 9vmin;
  height: 6vmin;
  background-color: #fcc8a3;
  border-color: #000;
  border-style: solid;
  border-width: .7vmin;
}

#axl .left-arm .forearm .shadow--1 {
  bottom: 0;
  width: 100%;
  height: 2vmin;
  background-color: rgba(0, 0, 0, 0.3);
}

#axl .left-arm .forearm .gleam--1 {
  top: 0;
  width: 100%;
  height: .8vmin;
  background-color: rgba(255, 255, 255, 0.3);
}

#axl .left-arm .sweatband {
  right: 7.5vmin;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 4.5vmin;
  height: 8vmin;
  background-color: #6687ff;
  border-color: #000;
  border-style: solid;
  border-width: 1vmin;
  border-radius: 1vmin;
}

#axl .left-arm .sweatband:before {
  top: 0;
  left: .8vmin;
  width: 1vmin;
  height: 6.3vmin;
  background-color: #fff;
}

#axl .left-arm .hand {
  right: 10vmin;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 7vmin;
  height: 7vmin;
  background-color: #fcc8a3;
  border-color: #000;
  border-style: solid;
  border-width: 1vmin;
  border-radius: 50%;
}

#axl .left-arm .hand .index {
  top: -1.5vmin;
  left: -3vmin;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 5.5vmin;
  height: 2.5vmin;
  background-color: #fcc8a3;
  border-color: #000;
  border-style: solid;
  border-width: 1vmin;
  border-radius: 1.5vmin;
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
}

#axl .left-arm .hand .pinky {
  top: 3.3vmin;
  left: -3.2vmin;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 5vmin;
  height: 2.5vmin;
  background-color: #fcc8a3;
  border-color: #000;
  border-style: solid;
  border-width: 1vmin;
  border-radius: 1.5vmin;
  -webkit-transform: rotate(-25deg);
          transform: rotate(-25deg);
}

#axl .left-arm .hand .pinky:before {
  top: -1.1vmin;
  right: -1.2vmin;
  width: 1.5vmin;
  height: 1.5vmin;
  background-color: #fcc8a3;
  border-radius: .5vmin;
}

#axl .left-arm .hand .pinky:after {
  right: -1.4vmin;
  bottom: -.8vmin;
  width: 1.4vmin;
  height: 1.4vmin;
  background-color: #fcc8a3;
  border-radius: .5vmin;
}

#axl .left-arm .hand .thumb {
  top: -.7vmin;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 4.2vmin;
  height: 2.5vmin;
  background-color: #fcc8a3;
  border-color: #000;
  border-style: solid;
  border-width: 1vmin;
  border-radius: 1.5vmin;
  -webkit-transform: rotate(105deg);
          transform: rotate(105deg);
}

#axl .left-arm .hand .shadow--1 {
  left: .8vmin;
  width: 3vmin;
  height: 4vmin;
  border-radius: 50%;
  -webkit-box-shadow: -1.5vmin -0.3vmin 0 0 rgba(0, 0, 0, 0.3);
          box-shadow: -1.5vmin -0.3vmin 0 0 rgba(0, 0, 0, 0.3);
}

#axl .right-arm {
  top: 35vmin;
  right: 1.2vmin;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 23.5vmin;
  height: 17vmin;
}

#axl .right-arm .forearm {
  bottom: 1vmin;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 10vmin;
  height: 6vmin;
  background-color: #fcc8a3;
  border-color: #000;
  border-style: solid;
  border-width: .7vmin;
}

#axl .right-arm .forearm .shadow--1 {
  bottom: -.1vmin;
  left: -.1vmin;
  width: 100%;
  height: .8vmin;
  background-color: rgba(0, 0, 0, 0.3);
}

#axl .right-arm .hand {
  bottom: .2vmin;
  left: 11.5vmin;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 7vmin;
  height: 7.5vmin;
  background-color: #fcc8a3;
  border-color: #000;
  border-style: solid;
  border-width: .9vmin;
  border-radius: 50%;
}

#axl .right-arm .hand .shadow--1 {
  right: -.3vmin;
  bottom: -.2vmin;
  border-top: 2vmin solid transparent;
  border-right: 1.8vmin solid transparent;
  border-bottom: 3.8vmin solid rgba(0, 0, 0, 0.3);
  border-left: 4.5vmin solid transparent;
  border-bottom-right-radius: 1.5vmin;
  border-bottom-left-radius: 3vmin;
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
}

#axl .right-arm .hand .ice-cream {
  position: static;
}

#axl .right-arm .hand .ice-cream .cone {
  bottom: .1vmin;
  left: 2.8vmin;
  border-top: 8vmin solid #ecb92c;
  border-right: 4.2vmin solid transparent;
  -webkit-transform: rotate(16deg);
          transform: rotate(16deg);
}

#axl .right-arm .hand .ice-cream .cone .border-left {
  bottom: .2vmin;
  left: -.5vmin;
  width: .7vmin;
  height: 10vmin;
  background-color: #000;
  border-radius: .4vmin;
}

#axl .right-arm .hand .ice-cream .cone .border-right {
  bottom: -.4vmin;
  left: 2.5vmin;
  width: .7vmin;
  height: 10vmin;
  background-color: #000;
  border-radius: .4vmin;
  -webkit-transform: rotate(25deg);
          transform: rotate(25deg);
}

#axl .right-arm .hand .ice-cream .cone .border-right:before {
  bottom: -.6vmin;
  left: -.6vmin;
  width: 1vmin;
  height: 1vmin;
  background-color: #000;
  border-radius: 1vmin;
}

#axl .right-arm .hand .ice-cream .cream-1 {
  top: -9.5vmin;
  left: 4.3vmin;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 6vmin;
  height: 6vmin;
  background-color: #826014;
  border-color: #000;
  border-style: solid;
  border-width: .8vmin;
  border-radius: 3vmin;
}

#axl .right-arm .hand .ice-cream .cream-1 .gleam--1 {
  top: .1vmin;
  left: .9vmin;
  border-top: 0.4vmin solid rgba(255, 255, 255, 0.5);
  border-right: 0.8vmin solid transparent;
  border-bottom: 0.4vmin solid transparent;
  border-left: 0.8vmin solid rgba(255, 255, 255, 0.5);
  border-top-left-radius: 50%;
  -webkit-transform: rotate(3deg);
          transform: rotate(3deg);
}

#axl .right-arm .hand .ice-cream .cream-2 {
  top: -9.8vmin;
  left: 7.4vmin;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 3.4vmin;
  height: 3.4vmin;
  background-color: #f46285;
  border-color: #000;
  border-style: solid;
  border-width: .5vmin;
  border-radius: 1.75vmin;
}

#axl .right-arm .hand .ice-cream .cream-2 .gleam--1 {
  top: .1vmin;
  left: .4vmin;
  border-top: 0.3vmin solid rgba(255, 255, 255, 0.5);
  border-right: 0.6vmin solid transparent;
  border-bottom: 0.3vmin solid transparent;
  border-left: 0.6vmin solid rgba(255, 255, 255, 0.5);
  border-top-left-radius: 50%;
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
}

#axl .right-arm .hand .ice-cream .cream-3 {
  top: -7.5vmin;
  left: 3.3vmin;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 7.6vmin;
  height: 7.6vmin;
  background-color: #f445b1;
  border-color: #000;
  border-style: solid;
  border-width: .8vmin;
  border-radius: 3.5vmin;
}

#axl .right-arm .hand .ice-cream .cream-3 .gleam--1 {
  top: 1vmin;
  left: .3vmin;
  border-top: 1.8vmin solid rgba(255, 255, 255, 0.5);
  border-right: 0.6vmin solid transparent;
  border-bottom: 1.8vmin solid transparent;
  border-left: 0.6vmin solid rgba(255, 255, 255, 0.5);
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  -webkit-transform: rotate(2deg);
          transform: rotate(2deg);
}

#axl .right-arm .hand .ice-cream .cream-3 .shadow--1 {
  right: -.2vmin;
  bottom: .1vmin;
  border-top: 3.4vmin solid rgba(0, 0, 0, 0.2);
  border-right: 0.6vmin solid transparent;
  border-bottom: 0vmin solid transparent;
  border-left: 2.4vmin solid rgba(0, 0, 0, 0.2);
  border-bottom-right-radius: 50%;
}

#axl .right-arm .hand .ice-cream .cream-4 {
  top: -2vmin;
  left: 6.2vmin;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 2vmin;
  height: 8.6vmin;
  background-color: #f445b1;
  border-color: #000;
  border-style: solid;
  border-width: .8vmin;
  border-radius: 0 0 2.5vmin 2.5vmin;
  border-top: 0.7vmin solid transparent;
  -webkit-animation-name: ice-cream-melt;
          animation-name: ice-cream-melt;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

#axl .right-arm .hand .ice-cream .cream-4:before {
  top: -1.3vmin;
  left: -.8vmin;
  width: 1vmin;
  height: 1.6vmin;
  background-color: #f445b1;
}

#axl .right-arm .hand .ice-cream .cream-4:after {
  top: -3vmin;
  right: -.9vmin;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-top: 0.8vmin solid transparent;
  border-right: 0.8vmin solid transparent;
  border-bottom: 2vmin solid #f445b1;
  border-left: 1vmin solid #f445b1;
}

#axl .right-arm .hand .ice-cream .cream-5 {
  top: -8.1vmin;
  left: 6.1vmin;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 5vmin;
  height: 5vmin;
  background-color: #f445b1;
  border-color: #000;
  border-style: solid;
  border-width: .7vmin;
  border-bottom: 0.7vmin solid transparent;
  border-radius: 2.5vmin;
}

#axl .right-arm .hand .ice-cream .cream-5 .gleam--1 {
  top: .6vmin;
  left: .4vmin;
  width: 1.5vmin;
  height: 1.5vmin;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  -webkit-transform: rotate(2deg);
          transform: rotate(2deg);
}

#axl .right-arm .hand .ice-cream .drop {
  left: 6.2vmin;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 2vmin;
  background-color: #f445b1;
  border-color: #000;
  border-style: solid;
  border-width: .7vmin;
  border-radius: 1vmin;
  -webkit-animation: ice-cream-drop 5s ease-in infinite, ice-cream-drop-size 5s ease-out infinite;
          animation: ice-cream-drop 5s ease-in infinite, ice-cream-drop-size 5s ease-out infinite;
}

#axl .right-arm .hand .ice-cream .floor {
  top: 33vmin;
  left: 5.2vmin;
  width: 4vmin;
  height: 6vmin;
  background-color: #e6fcdc;
  border-radius: 2vmin 2vmin 0 0 / .5vmin .5vmin 0 0;
}

#axl .right-arm .hand .ice-cream .drop-on-floor {
  top: 32vmin;
  left: 5.2vmin;
  width: 4vmin;
  height: 1vmin;
  background-color: #f445b1;
  border-radius: 50%;
  opacity: 0;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-animation: drop-on-floor 5s linear infinite;
          animation: drop-on-floor 5s linear infinite;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

#axl .right-arm .hand .thumb {
  top: -.25vmin;
  left: .25vmin;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 4.4vmin;
  height: 3vmin;
  background-color: #fcc8a3;
  border-color: #000;
  border-style: solid;
  border-width: 1vmin;
  border-radius: 1.5vmin;
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
}

#axl .right-arm .hand .thumb:before {
  top: -.5vmin;
  left: -.5vmin;
  width: 1.3vmin;
  height: 4vmin;
  background-color: #fcc8a3;
  border-top-left-radius: 1vmin;
}

#axl .right-arm .sweatband {
  bottom: 0;
  left: 9.2vmin;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 4.5vmin;
  height: 8vmin;
  background-color: #e23b3b;
  border-color: #000;
  border-style: solid;
  border-width: 1vmin;
  border-radius: 1vmin;
}

#axl .right-arm .sweatband:before {
  top: 0;
  left: .8vmin;
  width: 1vmin;
  height: 6.3vmin;
  background-color: #fff;
}
/*# sourceMappingURL=styles.css.map */