body {
  align-items: center;
  display: flex;
  height: 100vh;
  margin: 0;
  background-color: black;
}
body .image {
  position: absolute;
  top: 2vmin;
  left: 65vmin;
}
body .image img {
  z-index: 1;
  width: 82vmin;
  opacity: 0.4;
}
body #wrapper {
  width: 80vmin;
  height: 94vmin;
  position: absolute;
  top: 3vmin;
  left: 66vmin;
  display: grid;
  grid-template-rows: 26vmin 15vmin 4vmin 19vmin 5vmin 4vmin 4vmin 12vmin;
  grid-gap: 0px;
  grid-template-columns: 14vmin 17vmin 4vmin 14vmin 22vmin;
}
body #wrapper .red {
  background-color: red;
}
body #wrapper .white {
  background-color: white;
}
body #wrapper .yellow {
  background-color: gold;
}
body #wrapper .area-1 {
  position: relative;
  grid-row: 1/span 3;
  grid-column: 1/span 3;
  display: grid;
  grid-template-rows: 8% 4% 8% 39%;
  grid-template-columns: 27% 14% 6% 10% 5% 9%;
}
body #wrapper .area-1 .column {
  grid-row: 1/span 5;
  border-right: 2px solid rgb(38, 0, 255);
}
body #wrapper .area-1 .column.__1 {
  grid-column-start: 1;
}
body #wrapper .area-1 .column.__2 {
  grid-column-start: 2;
}
body #wrapper .area-1 .column.__3 {
  grid-column-start: 3;
}
body #wrapper .area-1 .column.__4 {
  grid-column-start: 4;
}
body #wrapper .area-1 .column.__5 {
  grid-column-start: 5;
}
body #wrapper .area-1 .column.__6 {
  grid-column-start: 6;
}
body #wrapper .area-1 .column.__7 {
  grid-column-start: 7;
}
body #wrapper .area-1 .row {
  grid-column: 1/span 7;
  border-bottom: 2px solid rgb(22, 5, 255);
}
body #wrapper .area-1 .row.__1 {
  grid-row-start: 1;
}
body #wrapper .area-1 .row.__2 {
  grid-row-start: 2;
}
body #wrapper .area-1 .row.__3 {
  grid-row-start: 3;
}
body #wrapper .area-1 .row.__4 {
  grid-row-start: 4;
}
body #wrapper .area-1 .row.__5 {
  grid-row-start: 5;
}
body #wrapper .area-1 .sub-area-1 {
  position: relative;
  grid-row: 4;
  grid-column: 1;
  background-color: gold;
}
body #wrapper .area-1 .sub-area-1 .line__1 {
  position: absolute;
  right: 1.2vmin;
  top: 0.5vmin;
  width: 3.2px;
  height: 44px;
  background-color: rgb(42, 252, 0);
  transform: rotate(25deg);
}
body #wrapper .area-2 {
  grid-row: 1;
  grid-column: 4;
  background-color: rgba(255, 255, 255, 0.323);
}
body #wrapper .area-3 {
  grid-row: 1;
  grid-column: 5/span 2;
  background-color: rgba(255, 255, 255, 0.323);
}
body #wrapper .area-4 {
  grid-row: 2/span 2;
  grid-column: 4;
  background-color: rgba(255, 255, 255, 0.323);
}
body #wrapper .area-5 {
  grid-row: 2/span 3;
  grid-column: 5;
  background-color: rgba(255, 255, 255, 0.323);
}
body #wrapper .area-6 {
  grid-row: 2/span 7;
  grid-column: 6;
  background-color: rgba(255, 255, 255, 0.323);
}
body #wrapper .area-7 {
  grid-row: 4;
  grid-column: 1/span 3;
  background-color: rgba(255, 255, 255, 0.323);
}
body #wrapper .area-8 {
  grid-row: 4;
  grid-column: 4;
  background-color: rgba(255, 255, 255, 0.323);
}
body #wrapper .area-9 {
  grid-row: 5/span 5;
  grid-column: 1;
  background-color: rgba(255, 255, 255, 0.323);
}
body #wrapper .area-10 {
  grid-row: 5/span 3;
  grid-column: 2;
  background-color: rgba(255, 255, 255, 0.323);
}
body #wrapper .area-11 {
  grid-row: 5/span 4;
  grid-column: 3/span 2;
  background-color: rgba(255, 255, 255, 0.323);
}
body #wrapper .area-12 {
  grid-row: 5/span 4;
  grid-column: 5;
  background-color: rgba(255, 255, 255, 0.323);
}
body #wrapper .area-13 {
  grid-row: 8;
  grid-column: 2;
  background-color: rgba(255, 255, 255, 0.323);
}
body #wrapper .area-14 {
  grid-row: 9;
  grid-column: 2/span 4;
  background-color: rgba(255, 255, 255, 0.323);
}
body #wrapper .area-15 {
  grid-row: 9;
  grid-column: 6;
  background-color: rgba(255, 255, 255, 0.323);
}
body #wrapper .row {
  grid-column: 1/span 6;
}
body #wrapper .row.__1 {
  grid-row-start: 1;
}
body #wrapper .row.__2 {
  grid-row-start: 2;
}
body #wrapper .row.__3 {
  grid-row-start: 3;
}
body #wrapper .row.__4 {
  grid-row-start: 4;
}
body #wrapper .row.__5 {
  grid-row-start: 5;
}
body #wrapper .row.__6 {
  grid-row-start: 6;
}
body #wrapper .row.__7 {
  grid-row-start: 7;
}
body #wrapper .row.__8 {
  grid-row-start: 8;
}
body #wrapper .row.__9 {
  grid-row-start: 9;
}
body #wrapper .column {
  grid-row: 1/span 9;
}
body #wrapper .column.__1 {
  grid-column-start: 1;
}
body #wrapper .column.__2 {
  grid-column-start: 2;
}
body #wrapper .column.__3 {
  grid-column-start: 3;
}
body #wrapper .column.__4 {
  grid-column-start: 4;
}
body #wrapper .column.__5 {
  grid-column-start: 5;
}
body #wrapper .column.__6 {
  grid-column-start: 6;
}/*# sourceMappingURL=styles.css.map */